/* Welcome Massage */
.welcom-message {
    display: none;
}
.role-editor.index-php .welcom-message {
    display: block;
}
.welcom-message {
    color: #5d2468;
    font-size: 30px;
    padding: 15px 0px;
    line-height: 1.1;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.welcom-message span {
    font-size: 25px;
}

/* Editor Dashboard Parent Category hide */
li#program-27 ul.children label {
    display: block;
}
li#program-27 label {
    display: none;
}
li#program-31 ul.children label {
    display: block;
}
li#program-31 label {
    display: none;
}

/* Editor Dashboard Color Theme */
body.role-editor {
    background-color: #fff;
}
.role-editor li#menu-comments {
    display: none;
}
.role-editor li#menu-posts  {
    display: none;
}
.role-editor li#menu-pages {
    display: none;
}
.role-editor li#menu-tools {
    display: none;
}
.role-editor li#toplevel_page_customtaxorder {
    display: none;
}
.role-editor .notice.notice-warning.is-dismissible.search-filter-notice-v3-coming-soon {
    display: none;
}
.role-editor div#dashboard-widgets-wrap {
    display: none;
}
.role-editor li#toplevel_page_wpseo_workouts {
    display: none;
}
.role-editor li#wp-admin-bar-comments {
    display: none;
}
.role-editor li#wp-admin-bar-new-content {
    display: none;
}
.role-editor li#wp-admin-bar-wpseo-menu {
    display: none;
}
.role-editor li#wp-admin-bar-wp-logo a.ab-item {
    display: none;
}
.role-editor li#wp-admin-bar-wp-logo .ab-sub-wrapper {
    display: none;
}
.role-editor #adminmenuback {
    background-color: #5d2468;
    color: #ffffff;
}
.role-editor #adminmenu li.current a.menu-top {
    background: #8a3e98;
}
.role-editor #adminmenu li.menu-top:hover, .role-editor #adminmenu li.opensub>a.menu-top, .role-editor #adminmenu li>a.menu-top:focus {
    background-color: #8a3e98;
    color: #ffffff;
}
.role-editor #adminmenu li:hover div.wp-menu-image:before {
    color: #ffffff;
}
.role-editor #adminmenu {
    background-color: #5d2468!important;
    color: #ffffff;
}
.role-editor #adminmenu .wp-submenu {
    background-color: #8a3e98!important;
    color: #ffffff;
}
.role-editor #adminmenuwrap {
    background-color: #5d2468!important;
    color: #ffffff;
}
.role-editor #wpadminbar {
    background: #5d2468;
    color: #ffffff;
}
.role-editor #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item {
    background: #5d2468;
    color: #ffffff;
}
.role-editor #wpadminbar .menupop .ab-sub-wrapper, .role-editor #wpadminbar .shortlink-input {
    background: #89309b;
}
.role-editor #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
.role-editor #adminmenu .wp-menu-arrow,
.role-editor #adminmenu .wp-menu-arrow div,
.role-editor #adminmenu li.current a.menu-top,
.role-editor #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    background: #4b0d57;
}
.role-editor #adminmenu .wp-submenu a:focus,
.role-editor #adminmenu .wp-submenu a:hover,
.role-editor #adminmenu a:hover,
.role-editor #adminmenu li.menu-top>a:focus {
    color: #ffffff;
}
.role-editor #collapse-button:hover {
    color: #ffffff;
}
.role-editor #wpadminbar li:hover .ab-item:before {
    color: #ffffff;
}
.role-editor #wpadminbar .quicklinks .menupop ul li a:hover {
    color: #ffffff;
}