
@media screen and (min-width: 1440px) {
    .single.site-main article.type-graduate {
        max-width: 1400px;
    }
    .main-nav {
        max-width: 1400px;
    }
    .back-page-button {
        max-width: 1400px;
    }
    div#footer {
        max-width: 1400px;
    }
}
@media screen and (max-width: 1024px) {
    .single-post-left {
        margin: 0px 0% 5% 10px;
    }
    
    .back-page-button {
        padding: 0 11px;
    } 
}
@media screen and (max-width: 992px) {
    .previ-next-warpper nav.navigation.post-navigation {
        justify-content: center;
    }
    .single-post-left {
        flex: 0 0 32%;
    }
    .width50 {
        width: 100%;
    }
    .single-post-right {
        flex: 0 0 64%;
    }
    .video-link .wtch-video {
        width: 22px !important;
    }
    .video-link {
        bottom: -20px;
    }
}
/* =============== Single Perofile ================== */
@media screen and (max-width: 768px) {
    
    .project_pictures ul.slides {
        flex-direction: column;
    }
    .aspiration_statement {
        margin-top: 10px!important;
    }
    .single-post-right {
        flex: 0 0 59%;
    }
    .single-post-left {
        flex: 0 0 36%;
    }
  
}
@media screen and (max-width: 575px) {
    .single-main-post-content {
        display: block;
    }
    div#profile {
        position: initial !important;
    }
    .back-page-button {
        justify-content: center;
    }
    .single-post-left {
        margin: 0 15px 34px !important;
        background: #fff;
        border-radius: 21px;
    }
    .single-information-content {
        padding: 60px 15px 31px;
    }
    .single-post-right {
        margin: 0 12px;
    }
    .single.site-main ul.skill {
        column-count: 1;
    }
    .single.site-main ul {
        column-count: 1;
    }
    footer.main-footer .middle_footer {
        padding: 0 12px;
    }
    a.share-btn {
        padding: 7px 22px 0 0;
    }
    .back-page-button {
        position: initial;
        flex-direction: column-reverse;
    }
    footer.main-footer .middle_footer .footer_social a {
        width: 38px;
        height: 38px;
    }
    .single.site-main li {
        width: 100% !important;
        margin: 0;
    }
    .main-nav {
        padding: 0px 5%;
    }
    .main-share {
        right: 0;
        z-index: 0;
        padding-bottom: 18px;
        height: 0px;
        transition: all 0.5s;
        padding-bottom: 0;
    }
    .right-share-btn {
        justify-content: center;
    }
    .main-share {
        justify-content: center;
    }
    .main-share .simplesocialbuttons {
        margin: 0 auto;
    }
    .main-share.slide-responsive {
        height: 60px;
    }
    .nav-links > div {
        padding: 0px 10px;
    }
    .back-page-button {
        padding: 0;
    }
    .previ-next-warpper .site-main .post-navigation{
        margin: 0 0 0.5em !important;
    }
    .profile-section {
        border-radius: 21px;
    }
}

/* =============== End Single Perofile ============== */