/* =============== Header and Footer ================= */
@media screen and (max-width: 1024px) {
    footer.main-footer .middle_footer {
        padding: 0 10px;
    }
    .main-nav {
        padding: 0px 2%;
    }
    .main-navigation li:last-child {
        margin-right: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 768px) {
    footer.main-footer .middle_footer .inner_middle_footer {
    display: block;
    }
    .hu-col-5 {
        width: 100%;
    }
    .footer_col.left.hu-col-5 {
        border-right: 0px solid #b69cbb;
    }
}
@media screen and (min-width: 600px) {
    /* li#menu-item-165 {
        display: none;
    } */
    li#menu-item-184 {
        display: none;
    }
    /* li#menu-item-163 {
        border-right: 1px solid #7c5982;
        padding-right: 20px;
        margin-right: 20px;
    } */
}
@media screen and (max-width: 600px) {
    nav#site-navigation {
        display: block;
    }
    header.main-header .main-btn {
        display: none;
    }
    .menu-menu-1-container {
        position: absolute;
        width: 100%;
        /* left: 0; */
        background: #5d2468;
        top: 110%;
        z-index: 9;
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
        z-index: 9999;
    }
    ul#primary-menu {
        padding: 0px 5%;
        width: 200px;
    }
    .main-navigation ul {
        display: block;
    }
    .main-navigation li {
        border-bottom: 0px solid #7c5982;
        border-right: 0px;
        margin-right: 0px;
    }
    .main-navigation li a {
        padding: 8px 0px;
    }
    li#menu-item-184 a {
        font-size: 35px;
        padding: 0px 0px;
        margin-right: 0px;
        text-align: right;
    }
    li#menu-item-165 {
        text-align: center;
        border: 1px solid #fff;
        border-radius: 36px;
        width: 123px;
        margin-top: 15px;
        margin-left: 10px;
    }
    li#menu-item-165 a {
        padding: 8px 0px;
    }
    li#menu-item-162 {
        border-top: 1px solid #7c5982;
        border-bottom: 1px solid #7c5982;
    }
    header.page-header {
        height: 250px;
    }
    .page-content, .entry-content, .entry-summary {
        margin: 1.5em 10px 0px;
    }
}
@media screen and (max-width: 425px) {
    .footer_social {
        display: flex;
        flex-wrap: wrap;
    }
    .footer_social a {
        width: 33%;
        height: 40px;
    }
}
@media screen and (max-width: 324px) {
    .main-nav {
        padding: 0px 5%;
    }
}

/* =============== End Header and Footer ============= */
/* =============== Home Page ========================= */
@media screen and (max-width: 768px) {
    .searchandfilter ul {
        /* display: block; */
    }
    .searchandfilter li {
        /* display: block;
        width: 100%!important;
        text-align: center; */
    }
    .searchandfilter li:nth-child(2) {
        /* border-left: none;
        border-right: none;
        padding-left: 0px;
        margin-right: 0px; */
    }
    .searchandfilter h4 {
        /* display: inline-block; */
    }
    .home-one-left, .home-one-right {
        flex: 0 0 88%;
        padding: 8%;
    }
    .main-nav {
        padding: 0px 5%;
    }
    .hu-sec.one {
        overflow: scroll;
    }
    .hu-sec.one::-webkit-scrollbar {
        display: none;
    }
    .three-card {
        overflow-x: scroll;
        padding-top: 17px;
    }
    .three-card::-webkit-scrollbar {
        display: none;
    }
    .three-card ul {
        height: 270px;
        overflow-x: auto;
        width: 880px;
        padding: 10px 0;
    }
    .three-card li {
        top: 20px;
        width: 24%;
        height: 200px;
    }
    footer.main-footer .middle_footer {
        padding: 0 10px;
    }
}
@media screen and (max-width: 425px) {

}
/* =============== End Home Page ==================== */
/* =============== Search and Filter ================ */
@media screen and (min-width: 769px) {
    .searchandfilter-popup {
        display: block!important;
    }
    .searchandfilter-img {
        display: none;
    }
    span.cloes-btn {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .searchandfilter-img {
        width: 300px;
        margin-top: -32px;
        margin-left: auto;
        margin-right: auto;
    }
    span.cloes-btn {
        display: block;
        text-align: right;
        padding: 10px;
    }
    span.cloes-btn i {
        font-size: 20px;
    }
    .searchandfilter-popup {
        background: rgb(255 255 255);
        cursor: pointer;
        height: 350px;
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
        z-index: 10000;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .searchandfilter-popup {
        height: 0px;
        -webkit-transition: height 0.5s linear;
           -moz-transition: height 0.5s linear;
            -ms-transition: height 0.5s linear;
             -o-transition: height 0.5s linear;
                transition: height 0.5s linear;
    }
    
    .searchandfilter-popup.popupopen {
         height: 350px;
         -webkit-transition: height 0.5s linear;
            -moz-transition: height 0.5s linear;
             -ms-transition: height 0.5s linear;
              -o-transition: height 0.5s linear;
                 transition: height 0.5s linear;
    }
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        /* visibility: hidden; */
        /* opacity: 0; */
    }
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }
    /* filter */
    form.searchandfilter {
        margin-top: 0px;
    }
    .searchandfilter ul {
        background-color: #fff;
        border: 0px solid #5d2468;
        border-radius: 0px;
        padding: 0px;
        margin: 0px auto;
        box-shadow: none;
    }
    .searchandfilter ul:after {
        display: none;
    }
    .searchandfilter li {
        display: block;
        width: 300px;
        background-color: #f5f5f5;
        border-radius: 30px;
        margin: 20px 0px;
        padding: 10px 11px 10px 20px;
        text-align: left;
    }
    .searchandfilter li:nth-child(1) {
        width: auto;
        margin-top: 0px;
    }
    .searchandfilter li:nth-child(2) {
        border-left: none;
        border-right: none;
        padding-left: 20px;
        margin-right: 0px;
    }
    .searchandfilter li:nth-child(4) {
        padding: 0px 5%;
        background-color: #fff0;
    }
    form.searchandfilter input[type="text"] {
        background-color: #f5f5f5;
        width: 100%;
    }
    .searchandfilter select {
        width: 100%;
        background-color: #f5f5f5;
    }
    input[type="submit"] {
        background: linear-gradient(0deg, rgb(0 0 0), rgb(0 0 0)), url(http://localhost:8080/gd/wp-content/uploads/2022/04/Serach-icon-wh.png);
        background-image: none;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        height: auto;
        width: 100%;
        padding: 5px 10px;
        color: #5d2468;
        border-radius: 40px;
        line-height: 2;
        border: 1px solid #5d2468;
        background-color: #fff;
    }
    input[type="submit"]:hover {
        background-color: #ffffff;
    }
    
    .hu-sec.two {
        padding: 4% 0% 10% 0%;
    }
}
@media screen and (max-width: 425px) {

}
/* =============== End Search and Filter ============ */
/* =============== Perofile archive ================= */
@media screen and (max-width: 425px) {
    .grid-view article.type-graduate {
        flex: 0 0 100%;
        margin: 1.7% 0%;
    }
    .grid-view .right-post-content {
        flex: 0 0 90%;
    }
}
/* =============== End Perofile archive ================= */
/* =============== Single Perofile ================== */
@media screen and (max-width: 768px) {
    .single-main-post-content {
        display: block;
    }
    .project_pictures ul.slides {
        flex-direction: column;
    }
    .aspiration_statement {
        margin-top: 10px!important;
    }
}

/* =============== End Single Perofile ============== */