article.type-graduate {
    /* display: flex; */
    display: block;
    box-shadow: 5px 4px 12px 4px rgb(200 200 200 / 45%);
    border: 1px solid #e6e5e5;
    border-radius: 10px;
    /* width: 65%; */
    margin: 10px auto;
}
article.type-graduate:hover {
    border-color: #5d2468;
}
.main-post-thumbnail {
    flex: 0 0 16.0%;
}
a.post-thumbnail {
    display: block;
    padding: 0px;
    line-height: 0px;
}
.type-graduate img {
    width: 110px;
    /* height: 110px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.main-post-content {
    flex: 0 0 80.0%;
    display: flex;
    padding: 10px;
}
.right-post-content {
    flex: 0 0 80.0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-post-content {
    flex: 0 0 20.0%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.left-post-content a {
    text-decoration: none;
}
article.type-graduate:hover .left-post-content a {
    color: #000;
}
h2.entry-title {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.class-name {
    /* padding: 5px 0px; */
}
.class-name {
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}
/* .class-name:last-child span {
    display: none;
} */
.class-name span:last-child {
    display: none;
}
.program-name {
    /* padding: 5px 0px; */
}
.program-name  {
    color: #000000;
    font-size: 15px;
    text-decoration: none;
}
.program-name:last-child span {
    display: none;
}
.main-article {
    max-width: 1170px;
    /* width: 65%; */
    margin: auto;
    padding: 0px 7% 20px 7%;
}
.main-article.grid-view {
    display: flex;
    flex-wrap: wrap;
}
.main-article .entry-header {
    padding: 0px;
}
/*============== list View =====================*/
.list-view article.type-graduate {
    width: 100%;
}
/*============== End list View =====================*/
/*============== Grid View =====================*/
.grid-view article.type-graduate {
    flex: 0 0 23%;
    margin: 1.7% 1%;
}
.grid-view .main-post-thumbnail {
    flex: 0 0 35%;
    /* margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px; */
    margin: 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* .grid-view a.post-thumbnail {
    line-height: 0.3;
} */
.grid-view .main-post-content {
    /* display: grid;
    flex: 0 0 64%; */
    padding: 0px 10px 10px 10px;
    height: 86px;
}
.grid-view .right-post-content {
    display: initial;
    flex: 0 0 90%;
}
.grid-view .left-post-content {
    flex: 0 0 10%;
}
.grid-view .left-post-content i {
    font-size: 15px;
    border: 1px solid #5d2468;
    padding: 2px 0px 0px 6px;
    border-radius: 25px;
    width: 20px;
    height: 20px;
}
.grid-view .type-graduate img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    border-radius: 0px;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 auto;
}
.grid-view h2.entry-title {
    line-height: 17px;
    display: grid;
    padding-bottom: 4px !important;
}
.grid-view .class-name {
    font-size: 12px;
    padding: 0px;
}
.grid-view .program-name {
    font-size: 12px;
    padding: 0px;
}
.grid-view .left-post-content a {
    text-align: right;
    padding: 0px 5px 0px 0px;
    line-height: 0.3;
}
/*============== End Grid View =====================*/
/* ============= Grid View Card Color ============= */
.grid-view .program-bscs .main-post-thumbnail {
    /* background-color: #004AAD; */
    background-color: rgb(224 224 224);
}
.grid-view .program-bsee .main-post-thumbnail {
    /* background-color: #F9B515; */
    background-color: rgb(224 224 224);
}
.grid-view .program-sdp .main-post-thumbnail {
    /* background-color: #AAAAAA; */
    background-color: rgb(224 224 224);
}
.grid-view .program-cnd .main-post-thumbnail {
    /* background-color: #5C2568; */
    background-color: rgb(224 224 224);
}
.grid-view .program-bsce .main-post-thumbnail {
    /* background-color: #5d2468; */
    background-color: rgb(224 224 224);
}
.grid-view .program-ch .main-post-thumbnail {
    /* background-color: #606061; */
    background-color: rgb(224 224 224);
}
/* ============= End Grid View Card Color ============= */
/* ============ search and filter ================= */
form.searchandfilter {
    margin-top: -30px;
    position: relative;
    z-index: 9999;
}
form.searchandfilter div {
    display: flex;
    justify-content: center;
}
.searchandfilter ul {
    /* background-color: #fff;
    border: 1px solid #5d2468;
    border-radius: 60px;
    padding: 5px 5px 5px 18px;
    margin: 0px auto; */
    position: relative;
    padding: 10px 20px;
    background: #fff;
    margin: 5px;
    border-radius: 88px;
    box-shadow: 0 12px 24px 0px rgb(84 84 84 / 16%);
}
.searchandfilter ul:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background-image: linear-gradient(45deg, purple, #eedcb5);
}
.searchandfilter li {
    padding: 0px;
    transition: 0.3s;
}
.searchandfilter li:nth-child(1) {
    width: 230px;
}
.searchandfilter li:nth-child(2) {
    border-left: 1px solid #eadcdc;
    border-right: 1px solid #eadcdc;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
}
.searchandfilter li:nth-child(2) h4 {
    text-transform: none;
}
.searchandfilter li:nth-child(4) {
    padding-left: 70px;
}
.searchandfilter h4 {
    margin: 0px;
    line-height: 1.1;
    padding-left: 3px;
    color: #000;
    font-size: 13px;
    transition: 0.3s;
}
input:focus-visible {
    outline: none;
}
select:focus-visible {
    outline: none;
}
.searchandfilter input[type="text"] {
    border: 0px;
    height: 18px;
    font-size: 13px;
    color: #777777;
    transition: 0.3s;
}
.searchandfilter select {
    border: 0px;
    /* margin-top: 4px; */
    width: 150px;
    font-size: 13px;
    color: #777777;
    transition: 0.3s;
}
option.level-0 {
    font-weight: 600;
    color: #575656;
}
input[type="submit"] {
    /* background: linear-gradient(0deg, rgb(0 0 0), rgb(0 0 0)), url(http://localhost:8080/gd/wp-content/uploads/2022/04/Serach-icon-wh.png); */
    background-color: #5d2468;
    background-image: url(https://habib.edu.pk/graduate-directory/wp-content/uploads/2022/04/search-icon.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: block;
    height: 45px;
    width: 45px;
    padding: 14px;
    color: #fff0;
    border-radius: 40px;
    line-height: 2;
}
input[type="submit"]:hover {
    background-color: #4a0f56;
}



/* ============ End search and filter ========*/
/* ============ sortby ====================== */
.main-page-sub-title {
    /* display: flex; */
    display: inherit;
    align-items: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    /* width: 65%; */
    padding: 0px 7%;
}
.page-sub-title {
    /* width: 80%; */
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    padding: 25px 0px;
}
.page-sub-title h3 {
    font-size: 0px;
    text-transform: inherit;
}
.jqury-titel span {
    font-size: 12px;
    font-weight: 600;
    background: #f5f5f5;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 3px 3px 0px 0px;
    display: inline-block;
}
.jqury-titel span.first {
    font-size: 12px;
    font-weight: 600;
    background: initial;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 3px 3px 0px 0px;
    display: inline-block;
}
.archive-title span {
    font-size: 20px;
    font-weight: 600;
}
.view-icon {
    /* width: 20%; */
    text-align: right;
}
.view-icon span {
    padding: 8px;
    font-size: 16px;
    color: #5d2468;
    border: 1px solid #f2f1f1;
    margin: 5px;
}
div#sortby {
    margin: 20px 0px;
}
div#sortby h4 {
    margin: 0px;
    line-height: 1.1;
    padding-left: 4px;
    color: #000;
    font-size: 13px;
}
div#sortby select#sortbox {
    border: 0px;
    /* margin-top: 4px; */
    /* width: 150px; */
    font-size: 13px;
    color: #777777;
}

/* ============ End sortby ================= */
/* ============ No Data Found ============== */
.no-data-found {
    background-color: #f9f9f9;
    text-align: center;
    padding: 15px 0px;
    width: 60%;
    margin: 30px auto;
}
.no-data-found img {
    width: 50px;
}
.no-data-found h6 {
    padding-top: 10px;
}
/* ============ End No Data Found ============ */
/* ============ pagination =================== */
.main-pagelink {
    display: block;
    width: 100%;
    text-align: center;
}
.pagelink {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    display: inline-flex;
    border-radius: 30px;
    box-shadow: 5px 4px 12px 4px rgb(200 200 200 / 45%);
    border: 1px solid #e6e5e5;
    padding: 8px 11px;
}
/* .pagelink:not(a > *) {
    box-shadow: none;
    border: 0px;
} */
.pagelink span, .pagelink a {
    font-size: 16px;
    color: #a2a2a2;
    /* border: 1px solid #000; */
    text-decoration: none;
    width: 32px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;
    font-weight: 600;
}
.pagelink span.page-numbers.current {
    color: #5d2468;
    font-weight: 700;
    border: 1px solid #bfbebf;
    border-radius: 20px;
}

.pagelink a.next.page-numbers, .pagelink a.prev.page-numbers {
    border: none;
    width: auto;
    margin: 0;
    font-size: 0;
}
/* ============ End pagination ============= */


@media (min-width:1600px){
  .main-article {
    max-width: 1400px;
    padding: 0px 0% 20px 0%;
  }
  .main-page-sub-title {
    max-width: 1400px;
    padding: 0px 0;
}
  }


   /* --------------- muliti selected serach and Filter --------- */
  
/* DropDOwn css */
.dropdown-list .dropdown-order {
    /* display: table; */
    width: 252px;
  }
  
  /* .searchandfilter li:nth-child(1) {
    width: 100% !important;
  } */
  .children label {
    font-weight: 400;
  }
  .ClassOff label {
    font-weight: 400;
  }
  .dropdown-list .dropdown-order {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    box-shadow: 0 0 12px 1px #afafaf;
    position: absolute;
    top: 35px;
    display: none;
    z-index: 999;
    padding: 9px 12px;
    border-radius: 10px;
  }
  .dropdown-list {
    padding: 12px 10px 12px 10px !important;
  }
  .dropdown-order .cat-item {
    padding: 6px 0 !important;
    font-weight: 600;
    position: relative;
    width: 100% !important;
  }
  .dropdown-order .cat-item:last-child:after {
    display: none;
  }
  .dropdown-order .cat-item label input{
    margin-right: 10px;
  }
  .dropdown-order .cat-item label{
    color: #afafaf;
  }
  .dropdown-order .cat-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #afafaf45;
    width: 100%;
    height: 1px;
  }
  .dropdown-order .cat-item input {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  .dropdown-order .cat-item input[type="checkbox"]:checked ~ .label-span:before {
    background: #5d2468 no-repeat center; 
    background-size: 65%;
    background-image: url(https://habib.edu.pk/graduate-directory/wp-content/uploads/2022/05/checked.svg);
  }
  .span-all {
    font-size: 12px;
    color: #afafaf;
    display: block;
    line-height: 21px;
    padding: 0;
    height: 18px;
    overflow-y: hidden;
  }
  .dropdown-order .cat-item .label-span input[type="checkbox"]:focus ~ .label-span {color: #5d2468;}
  .dropdown-order .cat-item .label-span:before {
    content: '';
    width: 15px;
    height: 15px;
    background: #f2f2f2;
    border: 1px solid rgba(75, 101, 132, 0.3);
    display: inline-block;
    margin-right: 11px;
  }
  .dropdown-order .cat-item label {
    color: #afafaf;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  span.label-span {
    padding: 0;
  }
  .item-marked{
    color: #000 !important;
  }
  li.main-items:nth-child(1) {width: 32% !important;}
  
  .searchandfilter div ul:first-child {width: 717px;}
  
  li.main-items:nth-child(2) {width: 23%;padding: 0 13px !important;}
  
  li.main-items:nth-child(3) {width: 26%;padding: 0 13px !important;}
  
  .searchandfilter .children:after{
    display: none;
  }
  .searchandfilter .children{
    box-shadow: 0 0 0 0;
  }
  .dropdown-order .cat-item-35 {display: block;}
  .dropdown-order li:nth-child(4) {
    padding-left: 0 !important;
    display: block;
    border: none !important;
  }
  .dropdown-order li:nth-child(2) {
    padding-left: 0 !important;
    display: block;
    border: none !important;
  }
  .searchandfilter .dropdown-order:after{
    background-image: none !important;
  }

  /* arrow */
  .ClassOff {position: relative;}
  .ProgramOff {position: relative;}

.ClassOff:after {
  content: '';
  position: absolute;
  background-image: url(https://habib.edu.pk/graduate-directory/wp-content/uploads/2022/05/drop-arrow.png);
  width: 8px;
  height: 5px;
  top: 50%;right: 13px;
  transform: rotate(0deg);
  transition: all 0.5s;}
.ProgramOff:after {content: '';
  position: absolute;
  background-image: url(https://habib.edu.pk/graduate-directory/wp-content/uploads/2022/05/drop-arrow.png);
  width: 8px;
  height: 5px;
  top: 50%;
  right: 13px;
  transform: rotate(0deg);
  transition: all 0.5s;}

.ClassOff.rotate-arow:after {
  transform: rotate(180deg);
}

.ProgramOff.rotate-arow:after {
  transform: rotate(180deg);
}
  
  
  /* --------------- End Muliti selected search and filter --------- */