/* @font-face {
    font-family: 'Apercu Pro';
    src: url('https://habib.edu.pk/graduate-directory/wp-content/themes/graduate-directory/fonts/ApercuPro.woff2') format('woff2'),
        url('https://habib.edu.pk/graduate-directory/wp-content/themes/graduate-directory/fonts/ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Apercu Pro';
    src: url('https://habib.edu.pk/graduate-directory/wp-content/themes/graduate-directory/fonts/ApercuPro-Italic.woff2') format('woff2'),
        url('https://habib.edu.pk/graduate-directory/wp-content/themes/graduate-directory/fonts/ApercuPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
} */

.single.site-main h1, .single.site-main h2, .single.site-main h3, .single.site-main h4, .single.site-main h5, .single.site-main h6, .single.site-main p, .single.site-main a, .single.site-main th, .single.site-main td, .single.site-main li, .single.site-main span{
    /* font-family: 'Apercu Pro'; */
    }
    .single.site-main p, .single.site-main a, .single.site-main th, .single.site-main td, .single.site-main li, .single.site-main span {
        font-size: 14px;
    }
    .single.site-main h2 {
        color: #000;
        padding: 10px 0px 5px 0px;
    }
    .single.site-main h1, .single.site-main h2  {
        font-size: 24px;
    color: #000;text-transform: capitalize;}
    .single.site-main h3  {
        font-size: 18px;
    }
    .single.site-main .color-heading {
        color: #5d2468;
    }
    .fyp_desc h2 {padding-top: 0 !important;}
    .single.site-main p {
        padding: 0px 0px;
        line-height: 23px;
    }
    .single.site-main a:hover {
        color: #5d2468;
    }
    .single.site-main li {
        padding: 5px 8px 0px 0;
        line-height: 23px;
        margin-right: 5%;
        display: table;
    }
    .single.site-main ul {
        list-style: none;
        padding-left: 23px;
        display: flex;
        flex-wrap: wrap;
    }
    .widthmeasure{

    }
    .width100{
        width: 100%;
    }
    .width50{
        width: 45%;
    }
    .single.site-main li:before {
        content: "";
        width: 11px;
        height: 11px;
        display: inline-block;
        vertical-align: middle;
        background-color: #ffc0cb00;
        border: 2px solid #5d2468;
        border-radius: 100%;
        margin-right: 0px;
        margin-left: -11px;
        position: relative;
        left: -7px;
        top: -3px;
    }
    .single-main-post-content {
        display: flex;
        margin: 0 auto;
    }
    .single.site-main article.type-graduate:hover {
        border: none;
    }
    .single.site-main article.type-graduate {
        display: block;
        box-shadow: none;
        border: 1px solid #fff8f8;
        border: none;
        /* width: 65%; */
        padding: 0% 0;
        margin: 0px auto;
        max-width: 1140px;
    }
    .leadership-experiences h2.main-heading {
        padding-top: 0;
    }
    .back-page-button {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 999;
        background-image: linear-gradient(70deg, #fdfaf4, #f9efda);
    }
    .right-share-btn {
        display: flex;
        padding: 20px 0 18px 14px;
        align-items: center;
        position: relative;
        z-index: 1;
        background-image: linear-gradient(70deg, #faf3e3, #f9efda);
    }
    .back-page-button .main-btn {
        margin-top: 0px;
    }
    .back-page-button .main-btn a.btn span  {
        color: #000;
    }
    .back-page-button i {
        padding-right: 4px;
        padding-top: 2px;
    }
    .main-share {
        display: flex !important;
        align-items: center;
        position: relative;
        right: -240px;
        transition: all 0.5s;
        z-index: -1;
    }
    .main-share.slide {
        right: 0;
    }
    a.share-btn {
        border-right: 1px solid;
        padding: 7px 22px;
        margin: 0 22px 0px 0px;
        display: flex;
        align-items: center;
    }
    a.share-btn img {
        width: 16px;
        margin-right: 7px;
    }
    /* ============== Program Card Color ================= */
    /* BSCE */
    .single .program-bsce .single-main-post-thumbnail {
        background-color: #eee;
    }
   
    /* BSCS */
    .single .program-bscs .single-main-post-thumbnail {
        background-color: #eee;
    }
  
    /* BSEE */
    .single .program-bsee .single-main-post-thumbnail {
        background-color: #eee;
    }
    /* CND */
    .single .program-cnd .single-main-post-thumbnail {
        background-color: rgb(255 255 255 / 0%);
    }
    /* CH */
    .single .program-ch .single-main-post-thumbnail {
        background-color: #eee;
    }
    
    /* SDP */
    .single .program-sdp .single-main-post-thumbnail {
        background-color: rgb(255 255 255 / 0%);
    }
    
    /* ============== End Program Card Color ================= */
    /* ============== single-post-left ================= */
    .single-post-left {
        flex: 0 0 23%;
        flex-direction: column;
        justify-content: center;
        margin: 0px 2% 5% 0;
        position: -webkit-sticky;
        position: relative;
        z-index: 999;
    }
    .single-information {
        border: 3px solid #5c2568;
        border-radius: 23px;
        height: 550px;display: flex;align-items: flex-end;position: relative;}
    div#profile {
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
    background: no-repeat;padding: 0;box-shadow: 0 0 0 0;background-color: #fff;}
    .single-main-post-thumbnail {
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .single-main-post-thumbnail .post-thumbnail {
        display: grid;
    }
    .single.site-main .type-graduate img {
        display: block;
    }
    .single-information-content {
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        padding: 60px 15px 29px;
        position: relative;
        width: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.027) 0%, rgba(250, 242, 226, 0.97) 26%);
    }
    .video-link {
        border-radius: 20px;
        position: absolute;
        bottom: -20px;left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .video-link .wtch-video {
        width: 27px !important;
        height: 22px !important;
        margin-right: 3px;
    }
    .video-link a {
        font-size: 12px!important;
        font-weight: 600;
        text-decoration: none;
        padding: 6px 5px;
    }
    .video-link a i{
        margin-right: 3px;
    }
    header.entry-header {
        padding-top: 15px;
    }
    .single-information-content h1 {
        font-size: 16px;
    }
    .single-information-content .program-name {
        font-size: 14px;
        padding: 5px 0px 0;
    line-height: 17px;color: #5d2468;font-weight: 600;}
    .single-information-content .minors {
        font-size: 14px;
        padding: 5px 0px;
        color: #5d2468;
        font-weight: 600;
    }
    .single-information-content .minors span{
        color: #5d2468;
        font-weight: 600;
    }
    .single-information-content .class-name {
        font-size: 14px;
        padding: 5px 0px 0px;
        color: #5d2468;
        font-weight: 600;
    }
    
    .single-contect-info {
        border-top: 1px solid #5d2468;
        padding-top: 4px;
        margin-top: 3px;
    }
    .single-contect-info i {
        color: #5d2468;
        font-size: 10px;
        background-color: #d7c5b4;
        padding: 3px 3px 3px 3px;
        margin: 5px 3px;
    }
    .single-contect-info a {
        text-decoration: none;
        color: #5c2568;
    font-weight: 500;}
    .single-contect-info a:hover {
        color: #5d2468!important;
    }
    .single-contect-info span {
        color: #ffffff;
    }
    
    /* ============== End single-post-left ============= */
    /* ============== single-post-right ================= */
    .single-post-right {
        flex: 0 0 73%;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0 60px 2%;
    /* height: 620px; *//* overflow-y: auto; */}
    .single-post-right div {
        margin-top: 10px;
        margin-bottom: 11px;
    }
    .aspiration_statement {
        background-image: linear-gradient(to left, #5C2568 , #D5C195);
        border: 1px solid #fbf5e7;
        border-radius: 15px;
        padding: 35px 26px;
        margin-top: 0px!important;
        position: relative;
        box-shadow: 6px 4px 7px 1px #f2e7d2;
    }
    .aspiration_statement:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        content: '';
        border-radius: 12px;
    }
    .aspiration_statement .main-heading, .aspiration_statement p {
        position: relative;
        z-index: 1;
    }
   .skill li {margin-right: 3.1% !important;}
    .profile-section {
        border-bottom: 1px solid #e1e0e0;
    background-color: #fff;padding: 10px 20px;border-radius: 10px;box-shadow: 6px 4px 7px 1px #f2e7d2;}
    .profile-section:last-child {
        border-bottom: 1px solid transparent;
    }
    .Academic.Awards i {
        color: #5d2468;
        font-size: 10px;
        border-radius: 15px;
        background-color: #fff;
        margin-right: 5px;
        padding: 2px 3px 2px 2px;
        box-shadow: 2px 3px 3px 0px rgb(202 193 193 / 45%);
    }
    .single-experience i {
        border-bottom: 1px solid #e1e0e0;
    }
    .single-experience i {
        color: #5d2468;
        font-size: 10px;
        border-radius: 15px;
        background-color: #fff;
        margin-right: 5px;
        padding: 2px 3px 2px 2px;
        box-shadow: 2px 3px 3px 0px rgb(202 193 193 / 45%);
    }
    .project_pictures ul.slides {
        display: flex;
        padding-left: 0px;
    }
    .project_pictures ul.slides li {
        margin: 0px 5px;
    }
    p.project_title {
        text-decoration: underline;
    }
    .project_pictures ul.slides li:before {
        content: none;
    }
    .project_pictures ul.slides img {
        border-radius: 3px!important;
    }
    .project_pictures img {
        width: 300px!important;
        height: 300px;
    }
    .type-graduate .project_pictures img {
        border-radius: 0px;
    }
    /* ============== End single-post-right ============= */
    
    .share-overlay{
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
    }
    .share-overlay:target {
        visibility: visible;
        opacity: 1;
    }
    .share-popup {
        display: none;
        background: rgb(255 255 255);
        cursor: pointer;
        height: 150px;
        position: fixed;
        top: 30%;
        text-align: center;
        width: 33%;
        z-index: 10000;
        border: 8px solid;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    span.share-cloes-btn {
        display: block;
        text-align: right;
        padding: 10px;
    }
    .single-main-post-thumbnail img {position: absolute;top: 0;z-index: 0;height: auto; width: auto;}
    .single-information-content .entry-header .entry-title {
        text-transform: capitalize;
        font-size: 24px;
        line-height: 26px;
        padding-bottom: 0;
        color: rgb(93, 36, 104);
    }
    
    .gardi-dflt {
        display: flex;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        color: #5e2568;
        background-clip: padding-box;
        border: solid 2px transparent;
        border-radius: 35px;
        background: #f9f1dc;
        transition: all 0.5s;
    }
    .gardi-dflt:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -4px;border-radius: inherit;
        background: linear-gradient(to left, #5C2568 , #D5C195);
    }
    .over-area{
        overflow: hidden;
    }
    .back-btn {
        padding: 6px 18px;
        
        font-size: 14px !important;
        font-weight: 500 !important;
    }
    .btn-default {
        /* border-radius: 45px; */
        /* border: 2px solid; */
        /* font-weight: 400 !important; */
        background: rgb(250 241 222) !important;
    }
    .gardi-dflt .over-area span::after {
        content: attr(data-hover);
        position: absolute;
        top: 44px;
        transition: all 0.5s ease 0s;
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
    }
    .gardi-dflt:hover.over-area span::after{
        top: 6px;
    }
    .gardi-dflt span{
        position: relative;
        transition: all 0.5s;
        top: 0;
        overflow: hidden;
    color: #5d2468;}
    .gardi-dflt:hover span{
        top: -34px;
        transition: all 0.5s;
    }




    /* Page Loader Animation */
#page-overlay.loading:before {
    content: url()!important;
}
h1.loading-title {
    position: absolute;
    top: 31%;
    width: 100%;
}
h1.loading-title span {
    color: #cccc;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 20px;
}
h1.loading-title span.black {
    color: black;
    font-family: sans-serif;
    font-weight: 800;
}
.progress-bar {
    display: flex;
    height: 100%;
    width: 100%;
    background: #F9EFDA;
    animation: progress-animation 9s ease-in-out;
}
@keyframes progress-animation {
    0% {width: 0%;}
    20% {width: 10%;}
    40% {width: 30%;}
    50% {width: 60%;}
    100% {width: 100%;}
}
.loading-bar {
    display: flex;
    height: 10px;
    width: 100%;
    max-width: 200px;
    border: 1px solid rgb(213, 193, 149);
    border-radius: 35px;
    overflow: hidden;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Pervies Next */
.nav-links {display: flex;justify-content: flex-start;}

.nav-links .nav-previous {
    flex: none;
    /* border-right: 2px solid rgb(93 36 104 / 48%); */
}
.nav-previous .nav-subtitle:after {
    content: '';
    position: absolute;
    left: 0;
    background-image: url(https://habib.edu.pk/graduate-directory/wp-content/uploads/2022/05/previous-icon.svg);
    width: 11px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
}
.nav-next .nav-subtitle:after {
    content: '';
    position: absolute;
    right: 0;
    background-image: url(https://habib.edu.pk/graduate-directory/wp-content/uploads/2022/05/next-icon.svg);
    width: 11px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
}
.nav-previous .nav-subtitle {
    padding-left: 17px;
}
.nav-next .nav-subtitle {
    padding-right: 17px;
}

.nav-links .nav-next {flex: none;}
.nav-links div a {
    display: flex;
    justify-content: center;
    background: transparent;
    flex-direction: column;
}
.nav-links > div {
    padding: 0 30px;
}
.previ-next-warpper nav.navigation.post-navigation {display: flex;justify-content: flex-end;}
.nav-links div a span {padding: 0;}

span.nav-subtitle {font-weight: 600;color: #5d2468;position: relative;}
.nav-next a {
    align-items: flex-end;
}
.nav-previous a {
    align-items: flex-start;
}

.nav-links div a span {font-size: 17px !important;}
/* Pervies Next */



/* BACK TO TOP ANIMATION */
a.back-top-click {
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 9999;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100%;
    padding: 10px;
    background: #fff;
    justify-content: center;
    border: 1px solid #5d2468;
    transition: all 0.5s;
    opacity: 0;
}
.top-anim{
    opacity: 1 !important;
}
a.back-top-click:hover{
    box-shadow: 0 0 8px 0 #00000091;
}
a.back-top-click img {
    width: 62%;
    position: relative;
    animation: mymove 2s infinite;
}
@keyframes mymove {
    0%   {top: 0px;}
    75%  {top: -10px}
    100% {top: 0px;}
}
.back-top-click h3 {
    font-size: 18px;
    font-family: 'ArnoPro';
    color: #5d2468;
    margin-top: 11px;
}
/* BACK TO TOP ANIMATION */


div#academic {}

div#page {background-image: linear-gradient(70deg, white, #f9efda);}

.simplesocialbuttons.simplesocial-round-icon button.simplesocial-fb-share {
    background: #faf3e4;
}
.simplesocialbuttons.simplesocial-round-icon button.simplesocial-twt-share {
    background: #faf3e4;
}
.simplesocialbuttons.simplesocial-round-icon button.simplesocial-linkedin-share {
    background: #faf3e4;
}
.simplesocialbuttons.simplesocial-round-icon button.simplesocial-msng-share {
    background: #faf3e4;
}
.simplesocialbuttons.simplesocial-round-icon button.simplesocial-email-share {
    background: #faf3e4;
}