
@media screen and (min-width: 1440px) {
    .single.site-main article.type-graduate {
        max-width: 1400px;
    }
    .main-nav {
        max-width: 1400px;
    }
    .back-page-button {
        max-width: 1400px;
    }
    div#footer {
        max-width: 1400px;
    }
}
/* =============== Single Perofile ================== */
@media screen and (max-width: 768px) {
    .single-main-post-content {
        display: block;
    }
    .project_pictures ul.slides {
        flex-direction: column;
    }
    .aspiration_statement {
        margin-top: 10px!important;
    }
}
@media screen and (max-width: 575px) {
    div#profile {
        position: initial !important;
    }
    .back-page-button {
        justify-content: center;
    }
    .single-post-left {
        margin: 0 15px 40px !important;
        background: #fff;
    }
    .single-post-right {
        margin: 0 12px;
    }
    .single.site-main ul.skill {
        column-count: 1;
    }
    .single.site-main ul {
        column-count: 1;
    }
    footer.main-footer .middle_footer {
        padding: 0 12px;
    }
    a.share-btn {
        padding: 7px 22px 0 0;
    }
    .back-page-button {
        position: initial;
        flex-direction: column-reverse;
    }
    footer.main-footer .middle_footer .footer_social a {
        width: 38px;
        height: 38px;
    }
    .single.site-main li {
        width: 100% !important;
    }
    .main-nav {
        padding: 0px 5%;
    }
    .main-share {
        right: 0;
        z-index: 0;
        padding-bottom: 18px;
        height: 0px;
        transition: all 0.5s;
        padding-bottom: 0;
    }
    .right-share-btn {
        justify-content: center;
    }
    .main-share {
        justify-content: center;
    }
    .main-share .simplesocialbuttons {
        margin: 0 auto;
    }
    .main-share.slide-responsive {
        height: 60px;
    }
    
}

/* =============== End Single Perofile ============== */