/* @font-face {
    font-family: 'Apercu Pro';
    src: url('https://habib.edu.pk/graduate-directory/wp-content/themes/graduate-directory/fonts/ApercuPro.woff2') format('woff2'),
        url('https://habib.edu.pk/graduate-directory/wp-content/themes/graduate-directory/fonts/ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Apercu Pro';
    src: url('https://habib.edu.pk/graduate-directory/wp-content/themes/graduate-directory/fonts/ApercuPro-Italic.woff2') format('woff2'),
        url('https://habib.edu.pk/graduate-directory/wp-content/themes/graduate-directory/fonts/ApercuPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
} */

.single.site-main h1, .single.site-main h2, .single.site-main h3, .single.site-main h4, .single.site-main h5, .single.site-main h6, .single.site-main p, .single.site-main a, .single.site-main th, .single.site-main td, .single.site-main li, .single.site-main span{
    /* font-family: 'Apercu Pro'; */
    }
    .single.site-main p, .single.site-main a, .single.site-main th, .single.site-main td, .single.site-main li, .single.site-main span {
        font-size: 14px;
    }
    .single.site-main h2 {
        color: #000;
        padding: 10px 0px 5px 0px;
    }
    .single.site-main h1, .single.site-main h2  {
        font-size: 24px;
    color: #000;text-transform: capitalize;}
    .single.site-main h3  {
        font-size: 18px;
    }
    .single.site-main .color-heading {
        color: #5d2468;
    }
    .fyp_desc h2 {padding-top: 0 !important;}
    .single.site-main p {
        padding: 0px 0px;
        line-height: 23px;
    }
    .single.site-main a:hover {
        color: #5d2468;
    }
    .single.site-main li {
        padding: 5px 8px 0px 0;
    line-height: 23px;width: 45%;margin-right: 5%;}
    .single.site-main ul {
        list-style: none;
        padding-left: 23px;
    display: flex;flex-wrap: wrap;}
    .single.site-main li:before {
        content: "";
        width: 11px;
        height: 11px;
        display: inline-block;
        vertical-align: middle;
        background-color: #ffc0cb00;
        border: 2px solid #5d2468;
        border-radius: 100%;
        margin-right: 0px;
        margin-left: -11px;
        position: relative;
        left: -7px;
        top: -3px;
    }
    .single-main-post-content {
        display: flex;
        margin: 0 auto;
    }
    .single.site-main article.type-graduate:hover {
        border: none;
    }
    .single.site-main article.type-graduate {
        display: block;
        box-shadow: none;
        border: 1px solid #fff8f8;
        border: none;
        /* width: 65%; */
        padding: 0% 0;
        margin: 0px auto;
        max-width: 1140px;
    }
    .back-page-button {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background: #ffff;
        /* padding: 21px 0 11px; */
        z-index: 9;
    }
    .right-share-btn {
        display: flex;
        padding: 20px 0 18px 14px;
        align-items: center;
        background-color: #fff;
    position: relative;z-index: 1;}
    .back-page-button .main-btn {
        /* border-color: #000; */
        /* cursor: pointer; */
        margin-top: 0px;
    }
    .back-page-button .main-btn a.btn span  {
        color: #000;
    }
    .back-page-button i {
        padding-right: 4px;
        padding-top: 2px;
    }
    .main-share {
        display: flex !important;
        align-items: center;
        position: relative;
        right: -240px;
        transition: all 0.5s;
    z-index: -1;}
    .main-share.slide {
        right: 0;
    }
    .main-share-btn {
        
    }
    a.share-btn {
        border-right: 1px solid;
        padding: 7px 22px;
        margin: 0 22px 0px 0px;
        display: flex;
        align-items: center;
    }
    a.share-btn img {
        width: 16px;
        margin-right: 7px;
    }
    /* ============== Program Card Color ================= */
    /* BSCE */
    .single .program-bsce .single-main-post-thumbnail {
        background-color: #eee;
    }
    /* .single .program-bsce .single-information-content {
        background-color: #5d2468;
    }
    .single .program-bsce .single-information-content h1 {
        color: #fff;
    }
    .single .program-bsce .single-information-content .program-name {
        color: #ffffff;
    }
    .single .program-bsce .single-information-content .minors {
        color: #ffffff;
    }
    .single .program-bsce .single-information-content .minors span {
        font-weight: 600;
        color: #fff;
    }
    .single .program-bsce .single-information-content .class-name {
        color: #ffffff;
    } */
    /* BSCS */
    .single .program-bscs .single-main-post-thumbnail {
        background-color: #eee;
    }
    /* .single .program-bscs .single-information-content {
        background-color: #df1724;
    }
    .single .program-bscs .single-information-content h1 {
        color: #fff;
    }
    .single .program-bscs .single-information-content .program-name {
        color: #ffffff;
    }
    .single .program-bscs .single-information-content .minors {
        color: #ffffff;
    }
    .single .program-bscs .single-information-content .minors span {
        font-weight: 600;
        color: #fff;
    }
    .single .program-bscs .single-information-content .class-name {
        color: #ffffff;
    } */
    /* BSEE */
    .single .program-bsee .single-main-post-thumbnail {
        background-color: #eee;
    }
    /* .single .program-bsee .single-information-content {
        background-color: #f9b515;
    }
    .single .program-bsee .single-information-content h1 {
        color: #320033 ;
    }
    .single .program-bsee .single-information-content .program-name {
        color: #320033 ;
    }
    .single .program-bsee .single-information-content .minors {
        color: #320033;
    }
    .single .program-bsee .single-information-content .minors span {
        font-weight: 600;
        color: #fff;
    }
    .single .program-bsee .single-information-content .class-name {
        color: #320033 ;
    } */
    /* CND */
    .single .program-cnd .single-main-post-thumbnail {
        background-color: rgb(255 255 255 / 0%);
    }
    /* .single .program-cnd .single-information-content {
        background-color: #004aad;
    }
    .single .program-cnd .single-information-content h1 {
        color: #fff;
    }
    .single .program-cnd .single-information-content .program-name {
        color: #ffffff;
    }
    .single .program-cnd .single-information-content .minors {
        color: #ffffff;
    }
    .single .program-cnd .single-information-content .minors span {
        font-weight: 600;
        color: #fff;
    }
    .single .program-cnd .single-information-content .class-name {
        color: #ffffff;
    } */
    /* CH */
    .single .program-ch .single-main-post-thumbnail {
        background-color: #eee;
    }
    /* .single .program-ch .single-information-content {
        background-color: #606061;
    }
    .single .program-ch .single-information-content h1 {
        color: #fff;
    }
    .single .program-ch .single-information-content .program-name {
        color: #ffffff;
    }
    .single .program-ch .single-information-content .minors {
        color: #ffffff;
    }
    .single .program-ch .single-information-content .minors span {
        font-weight: 600;
        color: #fff;
    }
    .single .program-ch .single-information-content .class-name {
        color: #ffffff;
    } */
    /* SDP */
    .single .program-sdp .single-main-post-thumbnail {
        background-color: rgb(255 255 255 / 0%);
    }
    /* .single .program-sdp .single-information-content {
        background-color: #606061;
    }
    .single .program-sdp .single-information-content h1 {
        color: #fff;
    }
    .single .program-sdp .single-information-content .program-name {
        color: #ffffff;
    }
    .single .program-sdp .single-information-content .minors {
        color: #ffffff;
    }
    .single .program-sdp .single-information-content .minors span {
        font-weight: 600;
        color: #fff;
    }
    .single .program-sdp .single-information-content .class-name {
        color: #ffffff;
    } */
    /* ============== End Program Card Color ================= */
    /* ============== single-post-left ================= */
    .single-post-left {
        flex: 0 0 23%;
        flex-direction: column;
        justify-content: center;
        margin: 0px 2% 5% 0;
    position: -webkit-sticky;
      /* position: sticky; */
      /* top: 10px; */position: relative;z-index: 999;}
    .single-information {
        border: 3px solid #5c2568;
        border-radius: 23px;
    height: 550px;display: flex;align-items: flex-end;position: relative;}
    div#profile {
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
    }
    .single-main-post-thumbnail {
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    
    /* position: relative; *//* z-index: 0; */}
    .single-main-post-thumbnail .post-thumbnail {
        display: grid;
    }
    .single.site-main .type-graduate img {
        /* width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px; */
        display: block;
        
        
        
        
    }
    .single-information-content {
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        padding: 60px 15px 29px;
        position: relative;
        width: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.027) 0%, rgba(250, 242, 226, 0.97) 26%);
    }
    .video-link {
        border-radius: 20px;
        position: absolute;
        bottom: -20px;left: 50%;transform: translateX(-50%);display: flex;justify-content: center;align-items: center;;width: 100%;}
    /* .video-link i.fa.fa-play {
        color: #5d2468;
        font-size: 10px;
        border: 1px solid #5d2468;
        border-radius: 15px;
        background-color: #fff;
        padding: 2px 2px 2px 4px;
    } */
    .video-link .wtch-video {
        width: 27px !important;
        height: 22px !important;
        margin-right: 3px;
    }
    .video-link a {
        font-size: 12px!important;
        font-weight: 600;
        text-decoration: none;
        padding: 6px 5px;
    }
    .video-link a i{
        margin-right: 3px;
    }
    header.entry-header {
        padding-top: 15px;
    }
    .single-information-content h1 {
        font-size: 16px;
    }
    .single-information-content .program-name {
        font-size: 13px;
        padding: 5px 0px 0;
    line-height: 17px;color: #5d2468;font-weight: 600;}
    .single-information-content .minors {
        font-size: 13px;
        padding: 5px 0px;
        color: #5d2468;
    }
    .single-information-content .minors span{
        color: #5d2468;
    }
    .single-information-content .class-name {
        font-size: 13px;
        padding: 5px 0px 5px;
    color: #5d2468;}
    
    .single-contect-info {
        border-top: 1px solid #5d2468;
        padding-top: 4px;
        margin-top: 3px;
    }
    .single-contect-info i {
        color: #5d2468;
        font-size: 10px;
        background-color: #d7c5b4;
        padding: 3px 3px 3px 3px;
        margin: 5px 3px;
    }
    .single-contect-info a {
        text-decoration: none;
        color: #5c2568;
    font-weight: 500;}
    .single-contect-info a:hover {
        color: #5d2468!important;
    }
    .single-contect-info span {
        color: #ffffff;
    }
    
    /* ============== End single-post-left ============= */
    /* ============== single-post-right ================= */
    .single-post-right {
        flex: 0 0 73%;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0 60px 2%;
    /* height: 620px; *//* overflow-y: auto; */}
    .single-post-right div {
        margin-top: 10px;
        margin-bottom: 11px;
    }
    .aspiration_statement {
        background-image: linear-gradient(70deg, white, #f9efda);
        border: 1px solid #fbf5e7;
        border-radius: 15px;
        padding: 15px 15px;
        margin-top: 0px!important;
    }
   .skill li {width: 30% !important;margin-right: 3.1% !important;}
    .core_skills li {
        /* border: 1px solid #5d24682e;
        display: inline-block;
        padding: 7px 7px 7px 5px!important;
        border-radius: 20px;
        margin: 0px 3px; */
    }
    .core_skills i {
        /* color: #5d2468;
        font-size: 10px;
        border-radius: 15px;
        background-color: #fff;
        margin-right: 5px;
        padding: 2px 3px 2px 2px;
        box-shadow: 2px 3px 3px 0px rgb(202 193 193 / 45%); */
    }
    .profile-section {
        border-bottom: 1px solid #e1e0e0;
    }
    .profile-section:last-child {
        border-bottom: 1px solid transparent;
    }
    .Academic.Awards i {
        color: #5d2468;
        font-size: 10px;
        border-radius: 15px;
        background-color: #fff;
        margin-right: 5px;
        padding: 2px 3px 2px 2px;
        box-shadow: 2px 3px 3px 0px rgb(202 193 193 / 45%);
    }
    .single-experience i {
        border-bottom: 1px solid #e1e0e0;
    }
    .single-experience i {
        color: #5d2468;
        font-size: 10px;
        border-radius: 15px;
        background-color: #fff;
        margin-right: 5px;
        padding: 2px 3px 2px 2px;
        box-shadow: 2px 3px 3px 0px rgb(202 193 193 / 45%);
    }
    .project_pictures ul.slides {
        display: flex;
        padding-left: 0px;
    }
    .project_pictures ul.slides li {
        margin: 0px 5px;
    }
    p.project_title {
        text-decoration: underline;
    }
    .project_pictures ul.slides li:before {
        content: none;
    }
    .project_pictures ul.slides img {
        border-radius: 3px!important;
    }
    /* ============== End single-post-right ============= */
    
    .share-overlay{
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        /* visibility: hidden; */
        /* opacity: 0; */
    }
    .share-overlay:target {
        visibility: visible;
        opacity: 1;
    }
    .share-popup {
        display: none;
        background: rgb(255 255 255);
        cursor: pointer;
        height: 150px;
        position: fixed;
        top: 30%;
        /* left: 33%; */
        text-align: center;
        width: 33%;
        z-index: 10000;
        border: 8px solid;
        border-radius: 10px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    span.share-cloes-btn {
        display: block;
        text-align: right;
        padding: 10px;
    }
    .single-main-post-thumbnail img {position: absolute;top: 0;z-index: 0;height: auto; width: auto;}
    .single-information-content .entry-header .entry-title {
        text-transform: capitalize;
        font-size: 18px;
        line-height: 23px;
        padding-bottom: 0;
        color: rgb(93, 36, 104);
    }
    
    .gardi-dflt {
        display: flex;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        color: #5e2568;
        background-clip: padding-box;
        border: solid 2px transparent;
        border-radius: 35px;
        background: #f9f1dc;
        transition: all 0.5s;
    }
    .gardi-dflt:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -4px;border-radius: inherit;
        background: linear-gradient(to left, #5C2568 , #D5C195);
    }
    .over-area{
        overflow: hidden;
    }
    .back-btn {
        padding: 6px 18px;
        
        font-size: 14px !important;
        font-weight: 500 !important;
    }
    .btn-default {
        /* border-radius: 45px; */
        /* border: 2px solid; */
        /* font-weight: 400 !important; */
        background: rgb(255, 255, 255) !important;
    }
    .gardi-dflt .over-area span::after {
        content: attr(data-hover);
        position: absolute;
        top: 44px;
        transition: all 0.5s ease 0s;
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
    }
    .gardi-dflt:hover.over-area span::after{
        top: 6px;
    }
    .gardi-dflt span{
        position: relative;
        transition: all 0.5s;
        top: 0;
        overflow: hidden;
    color: #5d2468;}
    .gardi-dflt:hover span{
        top: -34px;
        transition: all 0.5s;
    }




    /* Page Loader Animation */
#page-overlay.loading:before {
    content: url()!important;
}
h1.loading-title {
    position: absolute;
    top: 33%;
    width: 100%;
}
h1.loading-title span {
    color: #cccc;
    font-family: sans-serif;
    font-weight: 800;
}
h1.loading-title span.black {
    color: black;
    font-family: sans-serif;
    font-weight: 800;
}
.progress-bar {
    display: flex;
    height: 100%;
    width: 100%;
    background: #F9EFDA;
    animation: progress-animation 5s ease-in-out;
}
@keyframes progress-animation {
    0% {width: 0%;}
    20% {width: 10%;}
    40% {width: 30%;}
    50% {width: 60%;}
    100% {width: 100%;}
}
.loading-bar {
    display: flex;
    height: 10px;
    width: 100%;
    max-width: 200px;
    border: 1px solid rgb(213, 193, 149);
    border-radius: 35px;
    overflow: hidden;
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}
