/* header */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
h1,h2,h3,h4,h5,h6,p{
    margin:0 !important;
     font-family: 'Poppins', sans-serif;
}
ul{
    margin:0 !important;
    padding: 0 !important;
}
a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 15px;
}
li{
    list-style-type: none;
}
 .container{
    max-width: 1400px !important;
    margin: 0 auto !important;
    position: relative;
}
.boxpad-t{
    padding-top: 42px;
}
.boxpad-b{
    padding-bottom: 42px;
}
.boxpad-tb{
    padding-bottom: 42px;
    padding-top: 42px;
}
 .aspiration-profiles .type-graduate {
    max-width: initial !important;
    padding: 0 !important;
    margin: 0 !important;
}
 #aspiration-profiles #footer {
    display: none !important;
}
 #aspiration-profiles hr {
    display: none !important;
}
 .header-profile {
    padding: 19px 0;
}
 .header-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
justify-content: space-between;}
 .header-right {
    /* width: 33.5%; */
}
 .logo {
    width: 19.5%;
}
 .logo img {
    width: auto !important;
}
 .prof-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
 .prof-nav li {
    list-style: none;
padding-right: 39px;}
 .prof-nav li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
 .contact-us-btn {
    padding: 5px 23px;
}
/* header */
 .btn-default{
    border-radius: 45px;
    border: 2px solid;
    font-weight: 400 !important;
}
 .profile-back {
    display: flex;
    justify-content: flex-end;
align-items: center;padding-bottom: 24px;}
 .back-btn {
    padding: 7px 13px;
    font-size: 14px !important;
    border: 1.8px solid;
    font-weight: 500 !important;
}
 .single.site-main li:before{
    display: none !important;
}
 .tab-container{
     border-radius: 4px;
     width: 100%;
}
 .tab-menu ul{
     margin: 0;
     padding: 0;
}
 .tab-menu ul li{
     list-style-type: none;
     display: inline-block;
}
 .tab-menu ul li a{
     text-decoration: none;
     padding: 7px 25px;
     border-radius: 4px;
}
 .tab{
     display: none;
     transition: all .5s;
height: 375px;overflow-y: auto;}


 .tab-active{
    display: block;
    transition: all .5s;
    position: relative;
    left: 0;
}
 .student-details {
    width: 44.5%;
}
 .watch-video-profile {
    width: 36.5%;
text-align: right;position: relative;right: 60px;}

/* #aspiration-profiles::before {
    position: absolute;
    width: 57.5%;
    background-color: #6b98d5;
    top: 0;
    content: '';
    height: 100vh;
    left: 0;
    z-index: -1;
} */
/* #aspiration-profiles::after {
    position: absolute;
    width: 43.5%;
    background-color: #fff;
    top: 0;
    content: '';
    height: 100vh;
    right: 0;
    z-index: -1;
} */
.user-detail-inner {
    display: flex;
    align-items: center;
}
.user-detail h2,h3,h4,p {
    color: #000;
}
.user-detail h2 {
    font-size: 22px;
    transition: all 0.5s;
}
.user-detail h3 {
    font-size: 20px;
    padding-bottom: 10px;
}
.user-detail h4 {
    font-size: 18px;
    padding-bottom: 7px;
    font-weight: 500;
}
.skills-bullets:nth-child(3) {
    padding-top: 20px !important;
}
.user-detail p {
    line-height: 25px;
    transition: all 0.5s;
}
.user-detail-inner .user-detail {
    padding-left: 28px;
}
.user-detail-inner .prof-bg {
    background-color: #004aad;
    display: flex;
    border-radius: 17px;
width: 167px;height: 167px;overflow: hidden;}
.user-detail-inner .user-img {
    /* border: 5px solid #fff; */
    border-radius: 23px;
object-fit: cover;width: 100%;}
.detail-box {
    padding-right: 5%;
}
.prof-nav li:last-child {
    padding: 0;
}
.profile-social li a {display: flex;align-items: center; color:#000}

.profile-social li a img {margin-right: 10px;}

.profile-social li {padding: 7px;}
.profile-video-box h3 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    position: relative;
display: flex;}
.profile-video-box h3::after {
    position: absolute;
    content: '';
    top: 50%;
    left: -13%;
    height: 3px;
    background-color: #000;
    width: 60px;
transform: translate(-50%, -13%);}
.profile-details-inner {display: flex;flex-wrap: wrap;align-items: center;padding-bottom: 130px;justify-content: space-between;}

.video-thumnail img {border-radius: 21px;}

.profile-video-box {display: flex;
    flex-direction: column;
    align-items: flex-end;}

.video-thumnail {margin-top: 13px;position: relative;}
.video-icon {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.video-icon img{border-radius: 0 !important;}
.tab-menu-wrap {width: 37%;background-color: #fff;border: 2px solid #a88ba7;padding: .9% 1%;border-radius: 75px;position: fixed;left: 50%;transform: translateX(-50%);bottom: 31px;box-shadow: 0 0 18px 1px #ccc;}

.profile-nav {display: flex;position: relative;align-items: center;width: 100%;}

.tab-menu-wrap ul {display: flex;flex-wrap: wrap;justify-content: center;}

.tab-menu-wrap ul li a {font-size: 17px;color: #000;transition: all 0.5s;}

.tab-menu-wrap ul li {position: relative;padding: 0 23px;}

.tab-menu-wrap ul li:after {content: '';position: absolute;background-color: #ccc;height: 80%;transform: translate(-50%, -50%);width: 1px;top: 50%;left: 100%;}

.tab-menu-wrap ul li:last-child::after {display: none;}
.tab-a.active-a {font-weight: 700;transition: all 0.5s;}


.skills-bullets li {font-size: 16px;width: 33%;padding: 7px 0;color: #000;font-weight: 500;display: flex;align-items: flex-start;}

.skills-bullets {display: flex;flex-wrap: wrap;}
.skills-bullets.bullet-100 li{width: 100%;}
.skills-bullets img {margin-right: 9px;margin-top: 6px;}
.profil-details-wrapper {overflow: hidden;}


.project-content {padding-bottom: 23px;}

.project-pic {display: flex;justify-content: space-between;flex-wrap: wrap;}

.proj-box {width: 30.5%;}
.project-content h4 {padding-bottom: 20px;}

.proj-link {display: flex;align-items: center;color: #000;}
span.video-sep {width: 45px;height: 1px;background: #6d3590;margin: 0 10px;}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(246, 246, 246); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(188, 186, 186)
  }
.user-profile {
    position: relative;
    top: 35px;
    transition: all 0.5s
}


/* profile card animation */
.user-profile.user-prof-anim {top: 0;padding-bottom: 0; transition: all 0.5s;}

.user-profile.user-prof-anim .prof-bg {width: 130px;height: 130px;}

.user-profile.user-prof-anim .user-detail h2 {font-size: 20px;}

.user-profile.user-prof-anim .user-detail p {font-size: 14px;}
/* profile card animation */


/* Animation */
.animation-layer {
    position: relative;
    left: 0;
    bottom: 0;
}
.animleftlayerone {
    animation: animleftlayerone 1s;
}
  
@keyframes animleftlayerone {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}
.animleftlayertwo {
    animation: animleftlayerone 1.2s;
}
  
@keyframes animleftlayertwo {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}
.animleftlayerthree {
    animation: animleftlayerthree 1.4s;
}
@keyframes animleftlayerthree {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}


.animleftlayerupone {
    animation: animleftlayerupone 1s;
}
@keyframes animleftlayerupone {
    from {
        bottom: -500px;
    }
    to {
        bottom: 0px;
    }
}

.animleftlayeruptwo {
    animation: animleftlayeruptwo 1.2s;
}
@keyframes animleftlayeruptwo {
    from {
        bottom: -500px;
    }
    to {
        bottom: 0px;
    }
}
