/* =============== Header and Footer ================= */
@media screen and (max-width: 768px) {
    footer.main-footer .middle_footer .inner_middle_footer {
    display: block;
    }
    .hu-col-5 {
        width: 100%;
    }
    .footer_col.left.hu-col-5 {
        border-right: 0px solid #b69cbb;
    }
}
@media screen and (min-width: 600px) {
   
    li#menu-item-184 {
        display: none;
    }
    li#menu-item-163 {
        border-right: 1px solid #7c5982;
        padding-right: 20px;
        margin-right: 20px;
      }
}
@media screen and (max-width: 600px) {
    nav#site-navigation {
        display: block;
    }
    header.main-header .main-btn {
        display: none;
    }
    .menu-menu-1-container {
        position: absolute;
        width: 100%;
        /* left: 0; */
        background: #5d2468;
        top: 110%;
        z-index: 9;
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
    }
    ul#primary-menu {
        padding: 0px 5%;
        width: 200px;
    }
    .main-navigation ul {
        display: block;
    }
    .main-navigation li {
        border-bottom: 0px solid #7c5982;
        border-right: 0px;
        margin-right: 0px;
    }
    .main-navigation li a {
        padding: 8px 0px;
    }
    li#menu-item-184 a {
        font-size: 35px;
        padding: 0px 0px;
        margin-right: 0px;
        text-align: right;
    }
    li#menu-item-165 {
        text-align: center;
        border: 1px solid #fff;
        border-radius: 36px;
        width: 123px;
        margin-top: 15px;
        margin-left: 10px;
    }
    li#menu-item-165 a {
        padding: 8px 0px;
    }
    li#menu-item-162 {
        border-top: 1px solid #7c5982;
        border-bottom: 1px solid #7c5982;
    }
    header.page-header {
        height: 250px;
    }
}
@media screen and (max-width: 425px) {
    .footer_social {
        display: flex;
        flex-wrap: wrap;
    }
    .footer_social a {
        width: 33%;
        height: 40px;
    }
}
@media screen and (max-width: 324px) {
    .main-nav {
        padding: 0px 5%;
    }
}

/* =============== End Header and Footer ============= */
@media screen and (max-width: 1600px) {
    .container {
        max-width: 1330px !important;
    }
    .tab-menu-wrap {
        width: 46%;
    }
}
@media screen and (max-width: 1440px) {
    .container {
        max-width: 1200px !important;
    }
    .tab-menu-wrap {
        width: 50%;
    }
    .student-profile-details {
        width: 25%;
    }
    .student-details {
        width: 71%;
    }
    
    .skills-bullets {
        width: 82%;
    }
    .pad-r {
        padding-right: 23%;
    }
    
}
@media screen and (max-width: 1366px) {
    .container {
        max-width: 1140px !important;
    }
    .tab-menu-wrap {
        width: 52%;
    }
    .skills-bullets {
        width: 87%;
    }
}
@media screen and (max-width: 1280px) {
    .container {
        max-width: 1040px !important;
    }
    .tab-menu-wrap {
        width: 54%;
    }
    .skills-bullets {
        width: 97%;
    }

}


@media screen and (max-width: 1199px) {
    .tab-menu-wrap {
        width: 58%;
    }
    .pad-r {
        padding-right: 3%;
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 850px !important;
    }
    .tab-menu-wrap {
        width: 67%;
    }
    .tab-menu-wrap ul li a {
        font-size: 15px;
    }
    .user-detail-inner .prof-bg {
        width: 137px;
        height: 128px;
    }
    .user-detail h2 {
        font-size: 19px;
    }
    .user-detail p {
        line-height: 21px;
    }
    .user-profile.user-prof-anim .prof-bg {
        width: 120px;
        height: 120px;
    }
    .user-profile.user-prof-anim .user-detail h2 {
        font-size: 16px;
    }
    .profile-video-box h3 {
        font-size: 19px;
    }
    .profile-video-box h3::after {
        height: 2px;
        width: 47px;
        transform: translate(-68%, -13%);
    }
    .detail-box {
        padding-right: 2%;
    }
    .video-icon img {
        width: 46px;
    }
    .user-detail h3 {
        font-size: 18px;
    }
    .boxpad-tb {
        padding-bottom: 32px;
        padding-top: 32px;
    }
    .student-details {
        width: 53.5%;
    }
    .prof-nav li a {
        font-size: 14px;
    }
    .contact-us-btn {
        padding: 3px 16px;
    }
    .back-btn {
        padding: 3px 12px;
    }
    .profile-back {
        padding-bottom: 9px;
    }
    .student-profile-details {
        width: 28%;
    }
    .student-details {
        width: 66.5%;
    }
    .skills-bullets {
        width: 100%;
    }
    .experience-bullet {
        flex-direction: column;
    }
    .experience-bullet .skills-bullets {
        width: 100%;
    }
    .skills-bullets li {
        font-size: 13px;
        padding: 5px 0;
    }
    .logo {
        width: 21.5%;
    }
}
@media screen and (max-width: 768px) {
    footer.main-footer .middle_footer .inner_middle_footer {
    display: block;
    }
    .hu-col-5 {
        width: 100%;
    }
    .container {
        max-width: 713px !important;
    }
    .watch-video-profile {
        width: 42.5%;
        right: 0;
    }
    .tab-menu-wrap {
        width: 82%;
    }
    .user-detail h2 {
        font-size: 17px;
    }
    .user-detail-inner .prof-bg {
        width: 123px;
        height: 113px;
    }
    .skills-bullets li {
        width: 50%;
    }
    .student-profile-details {
        width: 34%;
    }
    .student-details {
        width: 60.5%;
    }
    .skills-bullets li {
        width: 100%;
    }
}
@media screen and (min-width: 600px) {
    .mobile-top-video{
        display: none;
    }
    .desk-top-video{
        display: block;
    }
    .mobile-top-profile{
        display: none;
    }
    .desck-top-profile{
        display: block;
    }
    .menu-toggle {
        display: none;
    }
    .back-to-list-res{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .back-to-list-res {
        display: block;
        color: #5e2568;
        margin-right: 12px;
        font-size: 13px;
    }
    .prof-nav #menu-item-165 {
        display: table;
    }
    nav#site-navigation {
        display: block;
    }
    header.main-header .main-btn {
        display: none;
    }
    .menu-menu-1-container {
        position: absolute;
        width: 100%;
        left: 0;
        background: #5d2468;
        top: 117%;
        
    z-index: 99999;}
    ul#primary-menu {
        padding: 0px 5%;
    }
    .main-navigation li {
        border-bottom: 1px solid #7c5982;
        border-right: 0px;
    }
    .profil-details-wrapper {
        padding: 0 23px;
    }
    .student-details {
        width: 100%;
    }
    .tab-menu-wrap ul li a {
        font-size: 13px;
    }
    .tab-menu-wrap ul li {
        padding: 0 16px;
    }
    .tab-menu-wrap {
        width: 95%;
    }
    .user-detail-inner {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-top: 0 !important;
    }
    .tab {
        display: block;
        height: auto;
        overflow: initial;
    }
    .tab-menu-wrap {
        display: none;
    }
    .user-detail h2 {
        font-size: 19px;
        padding-top: 12px;
    }
    .program-bg {
        
        
        padding: 6px 22px;
        border-radius: 25px;
        
    margin: 7px 26% 0px !important;}
    .br-t-res {
        border-top: 3px solid rgb(222 222 222);
        padding-top: 23px;
    }
    .br-b-res {
        border-bottom: 3px solid rgb(222 222 222);
        padding-bottom: 23px;
    }
    .detail-box.academic-award {
        padding-top: 23px;
    }
    .watch-video-profile {
        width: 100%;
        right: 0;
    }
    .mobile-top-video{
        display: block;
    }
    .desk-top-video{
        display: none;
    }
    .student-profile-details {
        width: 100%;
        margin: 34px auto 18px;
    }
    .boxpad-tb {
        padding-bottom: 23px;
        padding-top: 23px;
    }
    .prof-bg {
        width: 50%;
        height: 315px;
        position: relative;
        overflow: hidden;
    }
    .prof-bg img {
        position: absolute;
    }
    .mobile-top-profile{
        display: block;
    border-bottom: 3px solid rgb(222 222 222);}
    .desck-top-profile{
        display: none;
    }
    ul.profile-social {
        padding: 20px 0 !important;
    }
    .header-profile {
        padding: 8px 20px;
    }
    .prof-nav li {
        padding-right: 0;
    }
    .contact-us-btn {
        padding: 1px 8px;
        font-size: 14px !important;
    margin-right: 9px;display: none;}
    a.contact-us-btn.btn-default.gardi-dflt.menu-toggle {
    display: block;
}
    .contact-us-btn:last-child {
    margin: 0 !important;
}
    .back-btn {
        padding: 2px 10px;
    }
    .logo {
        width: 26.5%;
    }
    .prof-nav {
        flex-direction: column;
    }
    /* .menu-menu-1-container.show ul {height: 196px;} */

    /* .menu-menu-1-container ul{
        height: 0px;
        transition: all 0.5s;;
    } */
    .logo {
        width: 30.5%;
    }
    .back-btn {
        padding: 2px 10px;
        display: none;
    }
    a.share-btn {
        border-right: 1px solid transparent;
        padding: 7px 0;
        margin: 0;
    }


    /* responsive menu */
    .menu-menu-1-container {
        background: #5d2468;
        z-index: 9;
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 0px;
    }
    ul#primary-menu {
        padding: 0px 5% !important;
        width: 200px;
    }
    .prof-nav li a {
        padding: 8px 0px !important;
    display: block;}
    .prof-nav li {
        border-bottom: 0px solid #7c5982;
        border-right: 0px;
        margin-right: 0px;
        padding: 0px 10px;
    width: 100%;background: transparent;}
    
    .prof-nav li a {
        color: #fff;
    }
    .prof-nav li#menu-item-165 a {
        background: transparent;
        padding: 6px 16px !important;
    border: 1px solid #fff !important;color: #ffff;}
    .prof-nav .gardi-dflt:before {
        display: none;
        background: transparent;
    }
    
    
}
@media screen and (max-width: 414px) {
    .main-nav {
        padding: 0px 5%;
    }
    .student-profile-details {
        width: 100%;
        margin: 12px auto 0;
    }
    .prof-bg {
        width: 66%;
    }
    .program-bg {
        margin: 0 18% 0px !important;
    }
    .pad-r {
        padding-right: 0;
    }
    .logo {
        width: 40.5%;
    }
}

@media screen and (max-width: 375px) {
.prof-bg {
    width: 76%;
}
.program-bg {
    margin: 7px 14% 0px !important;
}
}

@media screen and (max-width: 375px) {
.program-bg {
    margin: 0 4% 0px !important;
}
ul.profile-social {
    padding-top: 22px !important;
}
}
