/* =============== Single Perofile ================== */
@media screen and (max-width: 768px) {
    .single-main-post-content {
        display: block;
    }
    .project_pictures ul.slides {
        flex-direction: column;
    }
    .aspiration_statement {
        margin-top: 10px!important;
    }
}

/* =============== End Single Perofile ============== */