@font-face {
    font-family: 'Apercu Pro';
    src: url('http://localhost:8080/gd/wp-content/themes/graduate-directory/fonts/ApercuPro.woff2') format('woff2'),
        url('http://localhost:8080/gd/wp-content/themes/graduate-directory/fonts/ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Apercu Pro';
    src: url('http://localhost:8080/gd/wp-content/themes/graduate-directory/fonts/ApercuPro-Italic.woff2') format('woff2'),
        url('http://localhost:8080/gd/wp-content/themes/graduate-directory/fonts/ApercuPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

.single.site-main h1, .single.site-main h2, .single.site-main h3, .single.site-main h4, .single.site-main h5, .single.site-main h6, .single.site-main p, .single.site-main a, .single.site-main th, .single.site-main td, .single.site-main li, .single.site-main span{
font-family: 'Apercu Pro';
}
.single.site-main p, .single.site-main a, .single.site-main th, .single.site-main td, .single.site-main li, .single.site-main span {
    font-size: 14px;
}
.single.site-main h2 {
    color: #000;
    font-size: 18px;
    padding: 10px 0px 5px 0px;
}
.single.site-main h2.main-heading {
    font-size: 24px;
}
.single.site-main h2.color-heading {
    color: #5d2468;
}
.single.site-main p {
    padding: 0px 0px;
}
.single.site-main a:hover {
    color: #5d2468;
}
.single.site-main li {
    padding: 5px 0px;
}
.single.site-main ul {
    list-style: none;
    padding-left: 23px;
}
.single.site-main li:before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffc0cb00;
    border: 2px solid #5d2468;
    border-radius: 100%;
    margin-right: 0px;
    margin-left: -15px;
    position: relative;
    left: -7px;
    top: -3px;
}
.single-main-post-content {
    display: flex;
    margin: 30px auto;
}
.single.site-main article.type-graduate:hover {
    border: none;
}
.single.site-main article.type-graduate {
    display: block;
    box-shadow: none;
    border: 1px solid #fff8f8;
    border: none;
    /* width: 65%; */
    padding: 0% 7%;
    margin: 0px auto;
    max-width: 1170px;
}
.back-page-button {
    max-width: 1170px;
    margin: 0px auto;
    display: flex;
    justify-content: flex-end;
    padding: 0px 7%;
    /* width: 65%; */
}
.back-page-button .main-btn {
    border-color: #000;
    cursor: pointer;
}
.back-page-button .main-btn a.btn span  {
    color: #000;
}
.back-page-button i {
    padding-right: 4px;
    padding-top: 2px;
}

/* ============== Program Card Color ================= */
/* BSCE */
.single .program-bsce .single-information-content {
    background-color: #5d2468;
}
.single .program-bsce .single-information-content h1 {
    color: #fff;
}
.single .program-bsce .single-information-content .program-name {
    color: #ffffff;
}
.single .program-bsce .single-information-content .class-name {
    color: #ffffff;
}
/* BSCS */
.single .program-bscs .single-information-content {
    background-color: #df1724;
}
.single .program-bscs .single-information-content h1 {
    color: #fff;
}
.single .program-bscs .single-information-content .program-name {
    color: #ffffff;
}
.single .program-bscs .single-information-content .class-name {
    color: #ffffff;
}
/* BSEE */
.single .program-bsee .single-information-content {
    background-color: #f9b515;
}
.single .program-bsee .single-information-content h1 {
    color: #320033 ;
}
.single .program-bsee .single-information-content .program-name {
    color: #320033 ;
}
.single .program-bsee .single-information-content .class-name {
    color: #320033 ;
}
/* CND */
.single .program-cnd .single-information-content {
    background-color: #004aad;
}
.single .program-cnd .single-information-content h1 {
    color: #fff;
}
.single .program-cnd .single-information-content .program-name {
    color: #ffffff;
}
.single .program-cnd .single-information-content .class-name {
    color: #ffffff;
}
/* CH */
.single .program-ch .single-information-content {
    background-color: #606061;
}
.single .program-ch .single-information-content h1 {
    color: #fff;
}
.single .program-ch .single-information-content .program-name {
    color: #ffffff;
}
.single .program-ch .single-information-content .class-name {
    color: #ffffff;
}
/* SDP */
.single .program-sdp .single-information-content {
    background-color: #5d2468;
}
.single .program-sdp .single-information-content h1 {
    color: #fff;
}
.single .program-sdp .single-information-content .program-name {
    color: #ffffff;
}
.single .program-sdp .single-information-content .class-name {
    color: #ffffff;
}
/* ============== End Program Card Color ================= */
/* ============== single-post-left ================= */
.single-post-left {
    flex: 0 0 26%;
    flex-direction: column;
    justify-content: center;
    margin: 0px 2%;
}
.single-information {
    border: 3px solid #969696;
    border-radius: 13px;
}
.single-main-post-thumbnail {
    text-align: center;
}
.single-main-post-thumbnail .post-thumbnail {
    display: grid;
}
.single.site-main .type-graduate img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    display: block;
}
.single-information-content {
    /* background-image: linear-gradient(white, #f9efda); */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 15px;
}
.video-link {
    margin: -30px auto 0px;
    background-color: #f9efda;
    text-align: center;
    border: 1px solid #000;
    width: 70%;
    border-radius: 20px;
    padding: 8px 2%;
    position: relative;
}
.video-link i.fa.fa-play {
    color: #5d2468;
    font-size: 10px;
    border: 1px solid #5d2468;
    border-radius: 15px;
    background-color: #fff;
    padding: 2px 2px 2px 4px;
}
.video-link a {
    font-size: 12px!important;
    font-weight: 600;
    text-decoration: none;
}
header.entry-header {
    padding-top: 15px;
}
.single-information-content h1 {
    font-size: 16px;
}
.single-information-content .program-name {
    font-size: 13px;
    padding: 5px 0px;
}
.single-information-content .class-name {
    font-size: 13px;
    padding: 5px 0px;
}

.single-contect-info {
    border-top: 1px solid #f7eedc;
    padding-top: 10px;
    margin-top: 10px;
}
.single-contect-info i {
    color: #5d2468;
    font-size: 10px;
    background-color: #d7c5b4;
    padding: 3px 3px 3px 3px;
    margin: 5px 3px;
}
.single-contect-info a {
    text-decoration: none;
    color: #ffffff;
}
.single-contect-info a:hover {
    color: #fff!important;
}
.single-contect-info span {
    color: #ffffff;
}

/* ============== End single-post-left ============= */
/* ============== single-post-right ================= */
.single-post-right {
    flex: 0 0 66%;
    flex-direction: column;
    justify-content: center;
    margin: 0px 2%;
}
.single-post-right div {
    margin-top: 10px;
    margin-bottom: 0px;
}
.aspiration_statement {
    background-image: linear-gradient(70deg, white, #f9efda);
    border: 1px solid #fbf5e7;
    border-radius: 15px;
    padding: 15px 15px;
    margin-top: 0px!important;
}
.single.site-main ul.skill {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.core_skills li {
    /* border: 1px solid #5d24682e;
    display: inline-block;
    padding: 7px 7px 7px 5px!important;
    border-radius: 20px;
    margin: 0px 3px; */
}
.core_skills i {
    /* color: #5d2468;
    font-size: 10px;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 5px;
    padding: 2px 3px 2px 2px;
    box-shadow: 2px 3px 3px 0px rgb(202 193 193 / 45%); */
}
.single-academic {
    border-bottom: 1px solid #e1e0e0;
}
.Academic.Awards i {
    color: #5d2468;
    font-size: 10px;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 5px;
    padding: 2px 3px 2px 2px;
    box-shadow: 2px 3px 3px 0px rgb(202 193 193 / 45%);
}
.single-experience i {
    border-bottom: 1px solid #e1e0e0;
}
.single-experience i {
    color: #5d2468;
    font-size: 10px;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 5px;
    padding: 2px 3px 2px 2px;
    box-shadow: 2px 3px 3px 0px rgb(202 193 193 / 45%);
}
.project_pictures ul.slides {
    display: flex;
    padding-left: 0px;
}
.project_pictures ul.slides li {
    margin: 0px 5px;
}
.project_pictures ul.slides li:before {
    content: none;
}
.project_pictures ul.slides img {
    border-radius: 3px!important;
}
/* ============== End single-post-right ============= */