/* header */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
h1,h2,h3,h4,h5,h6,p{
    margin:0 !important;
     font-family: 'Poppins', sans-serif;
}
ul{
    margin:0 !important;
    padding: 0 !important;
}
a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 15px;
}
li{
    list-style-type: none;
}
 .container{
    max-width: 1400px !important;
    margin: 0 auto !important;
    position: relative;
}

.pad-r{
    padding-right: 40%;
}
.boxpad-t{
    padding-top: 42px;
}
.boxpad-b{
    padding-bottom: 42px;
}
.boxpad-tb{
    padding-bottom: 21px;
    padding-top: 21px;
}
 .aspiration-profiles .type-graduate {
    max-width: initial !important;
    padding: 0 !important;
    margin: 0 !important;
}
 #aspiration-profiles #footer {
    display: none !important;
}
 #aspiration-profiles hr {
    display: none !important;
}
 .header-profile {
    padding: 8px 0;
border-bottom: 1px solid #ccc;}
 .header-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
justify-content: space-between;}
.prof-nav li#menu-item-165 a {
    background: #fff;
    border-radius: 18px;
    padding: 6px 20px;
    color: #5e2568;
}
 .header-right {
    /* width: 33.5%; */
display: flex;align-items: center;}
 .logo {
    width: 19.5%;
}
 .logo img {
    width: auto !important;
}
 .prof-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
 .prof-nav li {
    list-style: none;
padding-right: 39px;}
 .prof-nav li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}
 .contact-us-btn {
    padding: 4.5px 23px;
}

/* header */

 .btn-default{
    border-radius: 45px;
    border: 2px solid;
    font-weight: 400 !important;
background: #fff !important;}
 .profile-back {
    display: flex;
    justify-content: flex-end;
align-items: center;padding: 15px 0;}
 .back-btn {
    padding: 6px 18px;
    font-size: 14px !important;
    border: 1.8px solid;
    font-weight: 500 !important;
}
a.share-btn {border-right: 1px solid;padding: 7px 22px;margin: 0 22px;display: flex;align-items: center;color: #5e2568;}
.share-btn img {margin-right: 7px;}
 .single.site-main li:before{
    display: none !important;
}
 .tab-container{
     border-radius: 4px;
     width: 100%;
}
 .tab-menu ul{
     margin: 0;
     padding: 0;
}
 .tab-menu ul li{
     list-style-type: none;
     display: inline-block;
}
 .tab-menu ul li a{
     text-decoration: none;
     padding: 7px 25px;
     border-radius: 4px;
}
 .tab{
    display: none;
    transition: all .5s;
}


 .tab-active{
    display: block;
    transition: all .5s;
    position: relative;
    left: 0;
}
 .student-details {
    width: 77%;
}
 .student-profile-details {
    width: 20%;
}
.user-detail-inner {
    display: flex;
    align-items: center;
}
.user-detail h2,h3,h4,p {
    color: #000;
}
.user-detail h2 {
    font-size: 22px;
    transition: all 0.5s;
}
.user-detail h3 {
    font-size: 20px;
    padding-bottom: 10px;
}
.user-detail h4 {
    font-size: 18px;
    padding-bottom: 7px;
    font-weight: 500;
}
.skills-bullets:nth-child(3) {
    padding-top: 20px !important;
}
.user-detail p {
    line-height: 25px;
    transition: all 0.5s;
}
.user-detail-inner .user-detail {
    
}
.prof-bg {
    /* background-color: #5e2568; */
    display: flex;
    border-radius: 11px;
}
.program-bsce .prof-bg {background-color: #5d2468;}
.program-bscs .prof-bg {background-color: #004aad;}
.program-bsee .prof-bg {background-color: #f9b515;}
.program-cnd .prof-bg {background-color: #df1724;}
.program-ch .prof-bg {background-color: #606061;}
.program-sdp .prof-bg {background-color: #606061;}


.prof-bg {
    background-color: #5e2568;
}


.user-detail-inner .user-img {
    /* border: 5px solid #fff; */
    border-radius: 23px;
object-fit: cover;width: 100%;}
.detail-box {
    padding-right: 5%;
}
.prof-nav li:last-child {
    padding: 0;
}
.profile-social li a {display: flex;align-items: flex-start; color:#000}

.profile-social li a img {margin-right: 7px;}

.profile-social li {padding: 7px;}
.profile-video-box h3 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    position: relative;
display: flex;}
.profile-video-box h3::after {
    position: absolute;
    content: '';
    top: 50%;
    left: -13%;
    height: 3px;
    background-color: #000;
    width: 60px;
transform: translate(-50%, -13%);}
.profile-details-inner {display: flex;flex-wrap: wrap;\: 130px;justify-content: space-between;}

.video-thumnail img {border-radius: 21px;}

.profile-video-box {display: flex;
    flex-direction: column;
    align-items: flex-end;}

.video-thumnail {margin-top: 13px;position: relative;}
.video-icon {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.video-icon img{border-radius: 0 !important;}
.tab-menu-wrap {width: 42%;background-color: #fff;border: 2px solid #a88ba7;padding: .9% 1%;border-radius: 75px;position: fixed;left: 50%;transform: translateX(-50%);bottom: 31px;box-shadow: 0 0 18px 1px #ccc;}

.profile-nav {display: flex;position: relative;align-items: center;width: 100%;}

.tab-menu-wrap ul {display: flex;flex-wrap: wrap;justify-content: center;}

.tab-menu-wrap ul li a {font-size: 17px;color: #000;transition: all 0.5s;}

.tab-menu-wrap ul li {position: relative;padding: 0 23px;}

.tab-menu-wrap ul li:after {content: '';position: absolute;background-color: #ccc;height: 80%;transform: translate(-50%, -50%);width: 1px;top: 50%;left: 100%;}

.tab-menu-wrap ul li:last-child::after {display: none;}
.tab-a.active-a {font-weight: 700;transition: all 0.5s;}


.skills-bullets li {font-size: 16px;width: 50%;padding: 7px 0;color: #000;font-weight: 500;display: flex;align-items: flex-start;}

.skills-bullets {display: flex;width: 65%;align-items: flex-start;flex-wrap: wrap;}
.skills-bullets.bullet-100 li{width: 100%;}
.skills-bullets img {margin-right: 9px;margin-top: 6px;}
.profil-details-wrapper {overflow: hidden;}


.project-content {padding-bottom: 23px;}

.project-pic {display: flex;justify-content: space-between;flex-wrap: wrap;}

.proj-box {width: 30.5%;}
.project-content h4 {padding-bottom: 20px;}

.proj-link {display: flex;align-items: center;color: #000;}
span.video-sep {width: 45px;height: 1px;background: rgb(94 37 104 / 48%);margin: 0 10px;}


.user-profile {
    position: relative;
    transition: all 0.5s;
    border-bottom: 1px solid #d0d0d0;
    padding-top: 0;
}
.student-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.video-prof-icon {
    margin: -23px auto 8px;
    border: 1px solid;
    padding: 6px 9px;
    font-size: 14px;
}
.video-prof-icon img {
    margin-right: 7px;
}
.gardi-dflt {
    display: flex;
    align-items: center;
    position: relative;
    
    box-sizing: border-box;
    color: #5e2568;
    
    background-clip: padding-box;
    border: solid 2px transparent;
    border-radius: 35px;
background: #f9f1dc;}
.gardi-dflt:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -4px;
   /* !importantÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â© */
    border-radius: inherit;
   /* !importantÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â© */
    background: linear-gradient(to left, #5C2568 , #D5C195);
}
.experience-bullet .skills-bullets {width: 48%;display: initial;}

.experience-bullet .skills-bullets li {width: 100%;}

.experience-bullet {display: flex;justify-content: space-between;}

/* profile card animation */
.user-profile.user-prof-anim { transition: all 0.5s;padding-top: 0;}

.user-profile.user-prof-anim .prof-bg {width: 130px;height: 130px;}

.user-profile.user-prof-anim .user-detail h2 {}

.user-profile.user-prof-anim .user-detail p {}
ul.profile-social {padding-top: 32px !important;}
/* profile card animation */


/* single profile Share Popup */
.share-overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    /* visibility: hidden; */
    /* opacity: 0; */
}
.share-overlay:target {
    visibility: visible;
    opacity: 1;
}
.share-popup {
    display: none;
    background: rgb(255 255 255);
    cursor: pointer;
    height: 150px;
    position: fixed;
    top: 30%;
    /* left: 33%; */
    text-align: center;
    width: 33%;
    z-index: 10000;
    border: 8px solid;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
span.share-cloes-btn {
    display: block;
    text-align: right;
    padding: 10px;
}



/* Page Loader Animation */
#page-overlay.loading:before {
    content: url()!important;
}
h1.loading-title {
    position: absolute;
    top: 33%;
    width: 100%;
}
h1.loading-title span {
    color: #cccc;
    font-family: sans-serif;
    font-weight: 800;
}
h1.loading-title span.black {
    color: black;
    font-family: sans-serif;
    font-weight: 800;
}
.progress-bar {
    display: flex;
    height: 100%;
    width: 100%;
    background: #F9EFDA;
    animation: progress-animation 5s ease-in-out;
}
@keyframes progress-animation {
    0% {width: 0%;}
    20% {width: 10%;}
    40% {width: 30%;}
    50% {width: 60%;}
    100% {width: 100%;}
}
.loading-bar {
    display: flex;
    height: 10px;
    width: 100%;
    max-width: 200px;
    border: 1px solid #D5C195;
    border-radius: 35px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 43%;  	
}




/* Animation */
.animation-layer {
    position: relative;
    left: 0;
    bottom: 0;
}
.animleftlayerone {
    animation: animleftlayerone 1s;
}
  
@keyframes animleftlayerone {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}
.animleftlayertwo {
    animation: animleftlayerone 1.2s;
}
  
@keyframes animleftlayertwo {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}
.animleftlayerthree {
    animation: animleftlayerthree 1.4s;
}
@keyframes animleftlayerthree {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}


.animleftlayerupone {
    animation: animleftlayerupone 1s;
}
@keyframes animleftlayerupone {
    from {
        bottom: -500px;
    }
    to {
        bottom: 0px;
    }
}

.animleftlayeruptwo {
    animation: animleftlayeruptwo 1.2s;
}
@keyframes animleftlayeruptwo {
    from {
        bottom: -500px;
    }
    to {
        bottom: 0px;
    }
}


.share-popup {
    padding: 13px 29px 0 40px;
}