@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
html {
    font-size: 17rem;
}

/* font-family: 'Open Sans', sans-serif; font-family: 'Roboto', sans-serif; font-family: 'Poppins', sans-serif */
/* ================== All ================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.post, .page {
  margin-bottom: 0px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  padding: 10px 0px;
}

p, a, th, td, li, span {
  color: #000000;
  /* font-family: Helvetica, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.3;
  font-weight: normal;
  padding: 10px 0px;
}

h1 {
  color: #5d2468;
  font-family: Helvetica, sans-serif;
  font-size: 34px;
  line-height: 1.3;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  color: #5d2468;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.3;
  font-weight: bold;
  text-transform: capitalize;
}

h3 {
  color: #5d2468;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  text-transform: capitalize;
}

h4 {
  color: #5d2468;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.3;
  font-weight: bold;
  text-transform: capitalize;
}

h5 {
  color: #5d2468;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.3;
  font-weight: bold;
  text-transform: capitalize;
}

h6 {
  color: #5d2468;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: bold;
  text-transform: capitalize;
}

a {
  color: #5c2568;
  text-decoration: none;
}

a:hover {
  color: #5c2568;
  text-decoration: none;
}

img {
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.main-container {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.small-container {
  max-width: 800px;
  margin: 0px auto;
}

.hu-sec {
  width: 100%;
  margin: 0px auto;
  padding: 3% 0px;
  display: flex;
}

.hu-titel {
  text-align: center;
  font-size: 16px;
}

.hu-col-1 {
  width: 10%;
}

.hu-col-2 {
  width: 20%;
}

.hu-col-3 {
  width: 30%;
}

.hu-col-4 {
  width: 40%;
}

.hu-col-5 {
  width: 50%;
}

.hu-col-6 {
  width: 60%;
}

.hu-col-7 {
  width: 70%;
}

.hu-col-8 {
  width: 80%;
}

.hu-col-9 {
  width: 90%;
}

.flex {
  display: flex;
}

/* a.btn {
  background-color: #5c256800;
  color: #ffffff !important;
  padding: 10px 5%;
  text-align: center;
  text-decoration: none !important;
  border: solid 1px #ffffff;
  border-radius: 30px;
  margin: 20px auto;
  font-size: 0.9rem;
}

a.btn:hover {
  background-color: #481653;
} */

.main-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 150px; */
  width: fit-content;
  font-weight: 500;
  margin-top: 13px;
  overflow: hidden;
  height: 35px;
  transition: all 0.5s;
  border: 1px solid #ffff;
  border-radius: 30px;
}
.main-btn:hover {
  /* background-color: #5d2468;
  color: #fff; */
}
.main-btn:hover .btn {
  bottom: 20px;
}
a.btn {
  position: relative;
  bottom: -20px;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
a.btn:hover {
  /* background-color: #481653; */
}
a.btn span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: transparent;
  color: #fff;
  padding: 0px 15px;
}
.main-btn i {
  padding-right: 4px;
  padding-top: 2px;
}



span.border-half-bottom {
  position: relative;
  color: #5c2568;
  font-weight: 700;
  padding: 5px 0px;
}

span.border-half-bottom:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  width: 50%;
  border-bottom: 3px solid #eedcb5;
}

.golden-bg {
  background-color: #e2d7bc;
  margin: 5px 0px;
  padding: 10px;
}

ul#marquee-text li {
  font-size: 80px;
  font-weight: 700;
  color: #fff0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.serives-card {
  padding: 15px 15px 0px 15px;
  border: 1px solid #5c2568;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.serives-card .hu-titel {
  color: #212121;
  text-align: left;
  height: 40px;
  vertical-align: middle;
  display: table-cell;
}
.serives-card a {
  color: #5d2468;
}
.serives-card p.hide-dec {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  transition: 0.5s;
  transform: translateY(95%);
  z-index: -1;
  height: 100%;
}
.serives-card p.hide-dec span {
  font-weight: bold;
  color: #212121;
}

.serives-card:hover .hide-dec {
  transition: all 0.5s;
  transform: translateY(0%);
  z-index: 1;
  bottom: 0;
}

.main-gallary .col-3 {
  padding-right: 8px;
  padding-left: 8px;
}

.other-services.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 3px;
  padding: 4px;
  background: #ffffff00;
  border: 1px solid #5d2468;
  transition: all 0.3s;
}

.other-services.owl-theme .owl-dots .owl-dot.active span {
  width: 32px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #5d2468;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  color: #5d2468;
}

.owl-dots {
  margin-top: 25px;
}

.owl-theme .owl-nav {
  margin-top: 21px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #86979100;
  color: #5d2468;
}

button.owl-nav:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

button.owl-prev {
  position: absolute;
  left: 40%;
}

button.owl-next {
    position: absolute;
    right: 40%;
}

/* ================== End All ================== */
/* ================== Header ================== */
header.main-header {
  background: #5d2468;
  box-shadow: 0 0 8px 0px #ccc;
  padding: 5px 0;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: initial;
  /* max-width: 1180px; */
}
main#primary {
  max-width: initial;
  margin: 0px auto;
}
header.main-header.header-sticky {
  position: fixed;
  width: 100%;
  -webkit-animation: smoothScroll 1s forwards;
          animation: smoothScroll 1s forwards;
  background-color: #fff;
  z-index: 99;
    /* max-width: initial; */
  max-width: 1180px;
  padding: 5px 0;
}
header.main-header.header-sticky .logo {
  width: 170px;
}
header.main-header.header-sticky .search .home.link {
  padding: 0px;
}

@-webkit-keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 0%;
}
.main-nav .logo .navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.main-nav .logo .main-res-logo {
  display: none;
}
.logo img {
  width: 80%;
}
.main-nav .nav-center .nav-item .nav-link {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  padding: 0rem;
  display: inline-flex;
}
.main-nav .nav-center .nav-item .nav-link:hover {
  color: #5d2468;
}
.main-nav .nav-center .nav-item:hover .dropdown-menu {
  display: block;
  transition: all 0.5s;
}
.main-nav .nav-center .nav-item.active .nav-link {
  color: #5d2468;
  border-bottom: 4px solid #eedcb5;
}
.main-nav .nav-center .dropdown, .main-nav .nav-center .dropleft, .main-nav .nav-center .dropright, .main-nav .nav-center .dropup {
  position: relative;
}
.main-nav .nav-center .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: -0.5rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.main-nav .nav-center .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.main-nav .nav-center .dropdown-menu .dropdown-item:hover {
  background: #5d2468;
  color: #fff;
}
.main-nav .nav-center .dropdown-toggle::after {
  content: "";
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  transition: all 0.5s;
}
.main-nav .nav-center .dropdown:hover .dropdown-toggle::after {
  transform: rotate(180deg);
  transition: all 0.5s;
}
.main-nav .nav-center ul.sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  width: auto;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 99;
  background-color: #fff;
}
.main-nav .nav-center .dropdown-menu li:hover .sub-menu {
  display: block;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.navbar-toggler {
  padding: 0.4rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #eeeeee;
  border: 0px solid transparent;
  border-radius: 0.25rem;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

#nav-icon3 {
  width: 23px;
  height: 18px;
  position: relative;
  transform: rotate(0);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #5d2468;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  transition: 0.25s ease-in-out;
  padding: 1px 0px;
}

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4) {
  top: 14px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.main-nav input.query.live-search-query {
  background-color: #f5f5f5;
  background-image: url(/wellness-center/assets/img/search-icon.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 37px;
  margin: 0px 0;
  padding: 0px 25px 0 15px;
  position: relative;
  transition: width 400ms ease, background 400ms ease !important;
  /* width: 0;*/
}
.main-nav input.query.live-search-query::-moz-placeholder {
  font-size: 13px;
  color: #cdcdcd;
}
.main-nav input.query.live-search-query:-ms-input-placeholder {
  font-size: 13px;
  color: #cdcdcd;
}
.main-nav input.query.live-search-query::placeholder {
  font-size: 13px;
  color: #cdcdcd;
}
.main-nav .search {
  display: inherit;
}
.main-nav .search .home.link {
  padding: 10px;
}
.main-nav button.search-button {
  display: none;
}
.main-nav a.main-sit-link-img {
  display: flex;
  align-items: center;
  background: #eedcb5;
  padding: 6px;
  border: 2px solid #c5bba5;
  border-radius: 10px;
  text-decoration: none;
}
.main-nav a.main-sit-link-img:hover {
  box-shadow: 2px 3px 14px 0px rgba(202, 193, 193, 0.45);
}
.main-nav a.main-sit-link-img:hover {
  color: #5d2468;
}
.main-nav img.sit-link-img {
  margin: 0px 8px 0px 0px;
}
header.main-header .main-btn {
  /* width: 160px; */
  width: auto;
  margin-top: 0px;
  }
  .graduate-home header.page-header {
    background-image: none!important;
    height: auto;
  }
  header.page-header {
  display: flex;
  align-items: end;
  background-color: #5d2468;
  padding-top: 10px;
  padding-bottom: 50px;
  background-image: url(https://habib.edu.pk/graduate-directory/wp-content/uploads/2022/04/banner-image.jpg);
  height: 300px;
  background-size: cover;
  background-position: bottom;
  
  }
  .page-header .page-title {
  margin: 0px auto;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  font-size: 40px;
  letter-spacing: 7px;
  line-height: 1;
  }
  .page-header .page-title span {
  display: block;
  color: #fff;
  font-size: 30px;
  letter-spacing: 10px;
  padding: 0px;
  line-height: 1;
  }
  ul#primary-menu {
  }
  nav#site-navigation {
  display: flex;
  }
  .main-navigation li {
  border-right: 0px solid #7c5982;
  padding: 0px 10px;
  margin-right: 10px;
  }
  .main-navigation a {
  color: #ffffff;
  }
  .main-navigation a:hover {
  color: #ffffff;
  }
  
/* =================== End Header ==================== */
/* =================== Footer ======================== */
footer.main-footer {
  padding-top: 0px;
  margin-top: 20px;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: initial;
  background-color: #5d2468;
}
div#footer {
  max-width: 1170px;
  margin: 0px auto;
}
.main-footer-logo img {
  width: 50%;
  margin-bottom: 15px;
}
footer.main-footer .inner_footer {
  margin: 0 auto;
  width: 100%;
  display: flex;
}
footer.main-footer .inner_footer .footer_col {
  float: left;
  margin-left: 23px;
  padding-top: 20px;
  max-width: 180px;
  width: 100%;
  list-style: none;
}
footer.main-footer .inner_footer .footer_col ul {
  margin-left: 0px;
  list-style: none;
  margin: 0 0 0px px 1.5em;
}
footer.main-footer .inner_footer .footer_col ul li {
  margin-bottom: 8px;
  padding: 0px;
}
footer.main-footer .inner_footer .footer_col ul li a {
  padding: 0px;
  text-decoration: none;
}
footer.main-footer .inner_footer .footer_col h3.widget-title {
  position: relative;
  margin: 0px;
  color: #5c2568;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  border: 0px;
  font-weight: 600;
  font-size: 15px;
  padding-bottom: 7px;
  margin-bottom: 10px;
  margin-top: 20px;
}
footer.main-footer .inner_footer .footer_col h3.widget-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 15px;
  width: 15%;
  border-bottom: 4px solid #f9b516;
}
footer.main-footer .inner_footer .footer_col.three {
  width: 20%;
  max-width: initial;
}
footer.main-footer .inner_footer .footer_col.one {
  width: 33%;
  max-width: initial;
  border-left: 2px solid #f9b516;
  padding-left: 40px;
}
footer.main-footer .inner_footer .footer_col.one i {
  font-size: 18px;
}
footer.main-footer .inner_footer .footer_col.one .widget-title.one-col {
  font-size: 18px;
}
footer.main-footer .inner_footer .footer_col.one .widget-title.one-col:after {
  content: "";
  border-bottom: 0px;
}
footer.main-footer .inner_footer .footer_col.one .footer_social a {
  width: 32px;
  height: 32px;
  font-size: 23px;
  padding-right: 15px;
}
footer.main-footer .inner_footer .footer_col.one .footer_social a i {
  color: #5b2867;
  padding: 5px 0px 30px 0px;
}
footer.main-footer .inner_footer .footer_col.one .footer_social a i:hover {
  color: #f9b516;
}
footer.main-footer .inner_footer .footer_col.one .footer_adress p {
  color: #5b2867;
}
footer.main-footer .inner_footer .footer_col.one .footer_adress i {
  padding-right: 10px;
}
.footer_uni_phone p {
  font-size: 16px;
}
.footer_uni_phone a {
  font-weight: 700;
  font-size: 15px;
}
footer.main-footer .inner_footer .footer_col.one .footer_uni_phone i {
  padding-right: 10px;
}
footer.main-footer .inner_footer .footer_col.one .footer_copyright {
  padding-top: 32%;
}
footer.main-footer div#site-info {
  background: #ffffff;
  margin-top: -40px;
  max-width: 1010px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  font-weight: bold;
  min-height: 62px;
  width: 100%;
  font-size: 14px;
  font-family: Open Sans;
}
footer.main-footer div#site-info .inner_wraper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

footer.main-footer .top_footer {
  display: flex;
  align-items: center;
  background: #eedcb5;
  padding: 2% 7%;
  border: 2px solid #d5c195;
}
footer.main-footer .top_footer .inner_top_footer {
  display: flex;
  max-width: 1170px;
  margin: auto;
}
footer.main-footer .top_footer .inner_top_footer p {
  font-size: 17px;
  color: #474444;
}
footer.main-footer .top_footer .inner_top_footer .hu-col-3 {
  width: 33.3%;
  padding: 1% 3%;
}
footer.main-footer .top_footer .inner_top_footer .hu-col-3.one {
  width: 50%;
}
footer.main-footer .top_footer .inner_top_footer .hu-col-3.two {
  width: 25%;
  border-left: 1px solid #d2bc8d;
  border-right: 1px solid #d2bc8d;
}
footer.main-footer .top_footer .inner_top_footer .hu-col-3.three {
  width: 25%;
}
footer.main-footer .middle_footer {
  display: flex;
  background: #5d2468;
  padding: 4% 7% 0% 7%;
  justify-content: center;
}
footer.main-footer .middle_footer .inner_middle_footer {
  display: flex;
  align-items: center;
  max-width: 1170px;
  /* margin: auto; */
}
footer.main-footer .middle_footer h3, footer.main-footer .middle_footer p, footer.main-footer .middle_footer a {
  color: #fff;
}
footer.main-footer .middle_footer a {
  text-decoration: none;
}
footer.main-footer .middle_footer .footer_col.hu-col-4 {
  padding: 0% 5%;
}
footer.main-footer .middle_footer .footer_col.hu-col-5 {
  padding: 0% 5%;
}
.footer_col.left.hu-col-5 {
  border-right: 2px solid #b69cbb;
}
footer.main-footer .middle_footer .footer_col.hu-col-6 {
  padding: 0% 5%;
  border-right: 2px solid #b69cbb;
}
footer.main-footer .middle_footer span.border-half-bottom {
  color: #ffffff;
  display: block;
}
footer.main-footer .middle_footer .footer_social h3 {
  padding: 10px 0px;
}
footer.main-footer .middle_footer .footer_social i {
  color: #eedcb5;
  font-size: 15px;
  padding: 10px;
  height: 35px;
  width: 35px;
  border: 1px solid #eedcb5;
  margin: 0px 15px 10px 0px;
}
footer.main-footer .middle_footer .footer_social i:hover {
  background-color: #eedcb5;
  color: #5d2468;
}
footer.main-footer .middle_footer .footer-menu div {
  padding: 0px 5% 0px 0px;
}
footer.main-footer .middle_footer .footer-menu a {
  padding-bottom: 10px;
  display: block;
}
footer.main-footer .bottom_footer {
  background: #5d2468;
  padding: 4% 7% 0% 7%;
  align-items: center;
  justify-content: center;
  display: flex;
}
footer.main-footer .bottom_footer .inner_bottom_footer {
  max-width: 1170px;
  margin: auto;
}
footer.main-footer .bottom_footer .footer_copyright {
  color: #fff;
  padding: 10px 0px;
}
footer.main-footer .bottom_footer .footer_copyright a {
  color: #fff;
  padding: 0px;
}
footer.main-footer .bottom_footer .footer_copyright span {
  color: #fff;
  padding: 0px;
}

/* =================== End Footer ======================== */
/* =================== Home Page ======================== */
.home-text {
  width: 82%;
  margin: 0px auto;
  text-align: center;
  padding: 0px 0px 35px 0px;
}
.home-one-left, .home-one-right   {
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 0 46%;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1% 2%;
  padding: 2%;
  border-radius: 15px;
  height: 450px;
  display: flex;
}
.one h2.titel {
  color: #ffffff;
  font-size: 24px;
  padding: 15px 0px;
}
.hu-sec.one {
  padding: 0% 0;
}
.hu-sec.two {
  padding: 4% 7% 10% 4%;
  align-items: center;
  justify-content: center;
}
.hu-sec.one .hu-col-5 {
  margin: 0% 1%;
}
.home-two-left .titel {
  color: #000;
  font-size: 33px;
}
.home-two-left .titel span {
  font-size: 50px;
  font-weight: 600;
}
.home-two-left .main-btn {
  border: 1px solid #5d2468;
}
.home-two-left .main-btn span {
    color: #5d2468;
}
.home-two-right h2.featured-titel {
  color: #000;
  font-size: 22px;
  font-weight: 300;
  padding: 0px 7%;
}
.home-two-right h2.featured-titel span {
  font-size: 28px;
  font-weight: 700;
}
/* Four images */
.three-card .detail {
  display: flex;
}
.three-card .detail .right-post-content {
  text-align: left;
}
.three-card .detail header.entry-header {
  padding-top: 0px;
}
.three-card .detail h2.entry-title {
  font-size: 13px;
}
.three-card .detail .class-name {
  font-size: 12px;
}
.three-card .detail .program-name {
  font-size: 12px;
}
.three-card .detail .left-post-content i {
  font-size: 15px;
  border: 1px solid #000000;
  padding: 2px 0px 0px 2px;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  color: #000000;
}
.home-two-right {
  width: 100%;
  display: block;
}
.three-card ul {
  /* position: absolute; */
  margin: 0;
  padding: 0;
  display: flex;
  
}

.three-card li {
  text-align: center;
  display: inline-block;
  list-style: none;
  position: relative;
  border: solid 1px #D5C195;
  padding: 10px!important;
  border-radius: 6px;
  background: #fffaef;
  box-shadow: 0 12px 24px 0px #54545429;
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  top: 50px;
  padding: 0px 0px;
  width: 24%;
  
}
.three-card li img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.three-card li:hover{
  top:0px;
  /* opacity:0.5; */
}
.three-card li:nth-child(1) {
  transform: rotate(10deg);
}
.three-card li:nth-child(1):hover {
  transform: rotate(2deg);
}
.three-card li:nth-child(2) {
  transform: rotate(0deg);
}
.three-card li:nth-child(2):hover {
  transform: rotate(-10deg);
}
.three-card li:nth-child(3) {
  transform: rotate(-10deg);
}
.three-card li:nth-child(3):hover {
  transform: rotate(-2deg);
}
.three-card li:nth-child(4) {
  transform: rotate(20deg);
}
.three-card li:nth-child(4):hover {
  transform: rotate(10deg);
}
.three-card li p {
  display: none;
}

/* =================== End Home Page ===================== */
.custom-logo-link {
  padding: 0px;
}
main.graduate-home {
/* max-width: initial!important; */
}
article.page {
max-width: 1180px;
margin: 0px auto;
}

@media (min-width:1600px){
  article.page {
      max-width: 1400px;
      margin: 0px auto;
  }
  .main-nav {
    max-width: 1400px;
}
.main-article {
  max-width: 1400px;
  padding: 0px 0 20px 0%;
}
}
