/*
 initialize rotation key frames,  
*/
@keyframes kf_spinner {
    to {
        transform: rotate(360deg)
    }
}
/*
The page overlay DIV, you can style it as you like, 
*/
#page-overlay {
    text-align: center;
    color: #1e73be;
    padding-top: 10px;
    font-size: .7em;
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999999999;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out
;display: flex;justify-content: center;align-items: center;}

#page-overlay.loading {
    opacity: 1;
    visibility: visible
}
/*
hide our loading layer
*/
#page-overlay.loaded,
#page-overlay>span {
    opacity: 0;}
/*
create the animated spinner
*/
#page-overlay.loading:before {
    content: url(preloader.gif);
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 300px;
transform: translate(-50%, -50%);}


